/*
 *
 * Windows UI
 *
 */

:root {
    --os-window-color: black;
    --os-window-border: rgba(255, 255, 255, 0.2);
    --os-window-button: #2f2d27;
    --os-text-color: white;
}

.window {
    border: 1px solid var(--os-window-border);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 70%);
    position: relative;
    z-index: 0;
    background-color: var(--os-window-color);
    color: var(--os-text-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
}

.window > .titlebar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: 28px;
    line-height: 28px;
    padding-left: 18px;
    font-size: 13px;
    width: calc(100% - 18px);
    flex: 1 1 auto;
}

.window > .titlebar > span {
    display: flex;
    flex: 1 1 auto;
}

.window > .titlebar > i[icon] {
    padding-right: 10px;
    width: 16px;
    height: 16px;
}

.window > .titlebar > i[min],
.window > .titlebar > i[max],
.window > .titlebar > i[close] {
    display: flex;
    width: 24px;
    height: 10px;
    flex: 0 0 28px;
    padding: 9px;
    top: 8px;
    left: 9px;
}

.window > .titlebar > i[min] {
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='1px' x='0px' y='0px' viewBox='0 0 10.2 1' fill='white'%3E%3Crect width='10.2' height='1'%3E%3C/rect%3E%3C/svg%3E");
    height: 1px;
    padding: 14.5px 9px;
}

.window > .titlebar > i[max] {
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' x='0px' y='0px' viewBox='0 0 10.2 10.1' fill='white'%3E%3Cpath d='M0,0v10.1h10.2V0H0z M9.2,9.2H1.1V1h8.1V9.2z' /%3E%3C/svg%3E");
/*    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' x='0px' y='0px' viewBox='0 0 10.2 10.1' fill='rgb(255, 255, 255)'%3E%3Cpath d='M2.1,0v2H0v8.1h8.2v-2h2V0H2.1z M7.2,9.2H1.1V3h6.1V9.2z M9.2,7.1h-1V2H3.1V1h6.1V7.1z' /%3E%3C/svg%3E%0A");*/
}

.window > .titlebar > i[close] {
    content: url("data:image/svg+xml,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' x='0px' y='0px' viewBox='0 0 10.2 10.2' fill='white'%3E%3Cpolygon points='10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1' /%3E%3C/svg%3E");
}

.window > .titlebar > i[min]:hover,
.window > .titlebar > i[max]:hover {
    background-color: var(--os-window-button);
}

.window > .titlebar > i[close]:hover {
    background-color: #c42b1c;
}


/*
 *
 * Menus
 *
 */
 
.window menu,
.window menu ul {
    cursor: default;
    list-style: none;
    margin: 0;
    padding: 0;
}

.window menu ul {
    min-width: 150px;
/*    padding: 2px;*/
}

.window menu li:hover > ul {
    display: block;
}

.window menu ul li > ul {
    display: none;
/*    top: 100%;*/
/*    left: 0;*/
    position: absolute;
    z-index: 99;

    


    left: 100%;
    top: -1px;
}

.window menu ul li > ul {
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    z-index: 99;
}


.window .menubar ul ul ul {
    left: 100%;
    top: -1px;
}

.window menu li > ul {
    left: 100%;
    top: -4px;
}

.window menu ul li a {
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px 4px 32px;
}

.window menu ul li {
    padding: 2px;
}






.window menu ul li:hover {
    background-color: #333;
}

.window menu ul li:hover > a {
    border: 1px solid transparent;
    background-color: #333;
}

.window menu ul li a:hover {
    border: 1px solid #444;
    background-color: #333;
}

/*
.window menu ul li:hover > a,
.window menu ul li a:hover {
    border: 1px solid #444;
    background-color: #333;
}
*/







.window menu ul {
    border: 1px solid #333;
    box-shadow: 4px 4px 3px -2px #333;
    position: relative;
}

.window .menubar > ul {
    display: flex;
    position: relative;
    padding: 0;
    border: 1px solid transparent;
    box-shadow: none;
}

.window .menubar > ul > li {
    padding: 6px 10px;
    position: relative;
}

.window .menubar > ul > li:hover {
    background: #333;
}

.window menu hr {
    box-shadow: inset 0 1px rgb(0 0 0 / 15%), inset 0 -1px #fff;
    content: "";
    display: block;
    height: 2px;
    margin: 3px 0 2px /*30px*/;
    pointer-events: none;
    border: 0;
}
