<nav>
<ul>
    <li class="singleItem">
        <a href="/">HOME</a>
    </li>

    <input type="radio" name="panel" id="nav-web">
    <li>
    <label for="nav-web">WEB</label>
        <div class="accordion__content">
            <div><a href="/-/cosmuic/">COSMUIC (CSS) - WIP</a></div>
            <div>Applications (Not Yet Available)</div>
            <div>Games (Not Yet Available)</div>
            <div>Tools (Not Yet Available)</div>
        </div>
    </li>

    <input type="radio" name="panel" id="nav-misc">
    <li>
    <label for="nav-misc">MISC</label>
        <div class="accordion__content">
            <div><a href="/-/japanese-study-book/">Japanese Study Book - WIP</a></div>
        </div>
    </li>

    <li class="singleItem">
        <a href="/-/about/">ABOUT</a>
    </li>

</ul>
</nav>
