html, body {
    height: 100vh;
    position: relative;
}

body { height: calc(100% - 56px); overflow-y: hidden; }

main.app {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

#panels > div {
    position: relative;
    display: inline-block;
    background: black;
    width: 100%;
    padding: 5px;
    display: flex;
}

#panels > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    justify-content: space-between;
}

/* #panels > div:first-child > span {
    display: flex;
} */

#panels > div:last-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
}

#sitedesign {
    position: relative;
    width: 85%;
    height: calc(100% - 40px);
    background-color: lightgray;
    top: 40px
}