/*
 * COSMUIC - Buy Button links
 * ========================================
 *
 * A few buttons type links to purchase goods from various resellers
 */

a.buy {
    display: inline-block;
    padding: 0.3125rem 0.875rem;
    padding-left: 2.8125rem;
    border: 1px solid #e7e7e7;
    background-position: center left 0.75rem;
    background-color: #fff;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    text-decoration: none;
    height: 45px;
    width: 155px;
    border-radius: .75rem;
    margin: 10px;
    content: '';
}

a.buy::before,
a.buy::after {
    height: 100%;
    margin-top: 0;
    -webkit-transition: none;
    transition: none;
    line-height: 35px;
    text-align: left;
    width: 100%;
}

a.buy::before {
    position: absolute;
    left: 8px;
    top: 8px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    font-size: 10px;
    padding-left: 38px;
    line-height: 8px;
}

a.buy::after {
    margin-top: 6px;
    font-weight: 500;
    position: absolute;
}

a.buy:hover::after {
    background-color: transparent;
}

/* .buy.amazon { background-color: #ffa723; color: black; } */


a.buy.amazon {
    background-color: white;
    color: black;
    font-family: "Amazon Ember", "Noto Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    /* font-style: normal; */
    font-variation-settings: "wdth" 100;
}
a.buy.amazon::before { background-image: url("/image/svg/amazon-color.svg"); content: "Available on" }
a.buy.amazon::after  { content: "amazon"; }



a.buy.kat {
    background-color: white;
    color: black;
}
a.buy.kat::before { background-image: url("/image/svg/cart.svg"); content: "Buy at" }
a.buy.kat::after  { content: "KAT Shop"; }



a.buy.google-play {
    background-color: black;
    color: #efefeb;
    font-family: 'Google Sans', 'Noto Sans', Roboto, 'Segoe UI', 'San Francisco', 'Helvetica Neue', sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    /* font-style: normal; */
    font-variation-settings: "wdth" 100;
}
a.buy.google-play::before { background-image: url("/image/svg/brand-google-play.svg"); content: "GET IT ON"}
a.buy.google-play::after  { content: "Google Play"; }



a.buy.itunes {
    background-color: black;
    color: #efefeb;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    /* font-style: normal; */
}
a.buy.itunes::before { background-image: url("/image/svg/apple.svg"); content: "Available on" }
a.buy.itunes::after  { content: "iTunes"; }

