.shopcard {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: var(--elevate);
    background-color: var(--secondary10);
    border-radius: 0.75rem;
    padding: 10px 12px;
    transition: transform 0.3s, border-radius 0.3s, padding 0.3s;
}

.shopcard::before {
    content: "";
    position: absolute;
    top: 46px;
    left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    z-index: 3;
}

.shopcard::after {
    position: absolute;
    content: attr(data-tag);
    text-transform: capitalize;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    padding: 5px 15px;
    display: block;
    text-decoration: none;
    z-index: 3;
    top: 20px;
    left: -12px;
    letter-spacing: 0;
}

.shopcard img {
    width: 100%;
    inline-size: 100%;
    background-color: white;
    border-radius: 0.75rem;
}

.shopcard > div {
    font-size: 0.9rem;
    flex: 1;
    max-height: 100%;
}

.shopcard a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: var(--primary);
    font-weight: 500;
    color: var(--primary-text);
    position: absolute;
    top: unset;
    bottom: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.cart::after {
    all: initial;
}

.shopcard > div h1 {
    margin-top: 0;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.75rem 0.5rem 0 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #606063;
}

.shopcard > div h2 {
    font-size: 0.75rem;
    flex: 1;
    margin: 0;
    padding: 0 0.5rem 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 0;
}

.shopcard .star {
    position: relative;
    display: inline-block;
    --rating: 0;
}

.shopcard .star,
.shopcard .star::before,
.shopcard .star::after {
    content: "";
    display: inline-block;
    width: 110px;
    height: 20px;
    background-repeat: repeat-x;
    background-size: 22px 20px;
}

.shopcard .star::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 30' xmlns='http://www.w3.org/2000/svg' fill='%23CCC'%3E%3Cpath d='M31.77 11.857H19.74L15.99.5l-3.782 11.357H0l9.885 6.903-3.692 11.21 9.736-7.05 9.796 6.962-3.722-11.18 9.766-6.845z'/%3E%3C/svg%3E");
}

.shopcard .star::after {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 30' xmlns='http://www.w3.org/2000/svg' fill='%23FFD700'%3E%3Cpath d='M31.77 11.857H19.74L15.99.5l-3.782 11.357H0l9.885 6.903-3.692 11.21 9.736-7.05 9.796 6.962-3.722-11.18 9.766-6.845z'/%3E%3C/svg%3E");
    width: calc(var(--rating) * 20%);
    overflow: hidden;
}

.shopcard > div > p:nth-last-child(2) {
    padding-top: 7px;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #088178;
}

/* Data tag styles */
.shopcard[data-tag="new"]::after          { color: #333; background: #e3c470; content: 'NEW'; }
.shopcard[data-tag="new"]::before         { border-color:  transparent #e3c470 transparent transparent; }
.shopcard[data-tag="recommended"]::after  { color: #FFF; background: #3e74cb; content: 'RECOMMENDED'; }
.shopcard[data-tag="recommended"]::before { border-color:  transparent #3e74cb transparent transparent; }
.shopcard[data-tag="soldout"]::after      { color: #FFF; background: #e75f5f; content: 'SOLD OUT'; }
.shopcard[data-tag="soldout"]::before     { border-color:  transparent #e75f5f transparent transparent; }

.shopcard[data-tag="soldout"] img,
.shopcard[data-tag="soldout"] div > * {
    opacity: 0.35;
}

.shopcard[data-tag="soldout"] a {
    display: none;
}

.shopcard[data-tag="soldout"] > div::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 247 246.96' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m47.215 49.687c-30.697 31.899-37.935 78.05-21.716 116.67l-23.183 23.183c-0.091756 0.0918-0.19081 0.17065-0.26828 0.26828-1.1685 1.4624-0.843 3.629 0.94801 5.42l50.945 50.945c1.9103 1.9103 4.2235 2.1446 5.8136 0.5545l22.914-22.914c39.328 16.761 86.585 9.1153 118.67-22.968 32.085-32.085 39.749-79.358 22.986-118.69l23.165-23.165c1.3768-1.3768 1.1411-3.6886-0.76922-5.5989l-50.945-50.945c-1.9104-1.9104-4.2179-2.1501-5.6883-0.67972l-23.236 23.236c-39.227-16.474-86.209-8.7402-118.15 23.201-0.49824 0.49825-0.99669 0.97803-1.4847 1.4847zm3.4703 3.2913c0.45884-0.47598 0.92684-0.92684 1.3952-1.3952 30.047-30.047 74.009-37.717 111.14-22.95l-22.378 22.378c-24.108-5.1743-50.244 1.6244-68.976 20.356-18.731 18.731-25.53 44.867-20.356 68.976l-22.36 22.36c-14.536-36.549-7.3507-79.724 21.537-109.72zm4.9195 4.8474 1.9677 4.6866-3.5061 3.7207 5.0623-0.41146 2.4506 4.4899 1.1806-4.9729 5.0086-0.93016-4.3468-2.6653 0.67973-5.0444-3.8995 3.3271zm23.701-16.153 1.9677 4.6867-3.5239 3.7028 5.0802-0.39348 2.4506 4.4541 1.1806-4.9371 5.0086-0.96599-4.3468-2.6295 0.66189-5.0623-3.8817 3.3093zm-38.817 39.854 1.9676 4.6866-3.524 3.7028 5.0802-0.3935 2.4506 4.4541 1.1806-4.937 5.0086-0.96597-4.3467-2.6295 0.66187-5.0623-3.8816 3.3092zm67.545-49.406 1.9499 4.7045-3.506 3.685 5.0802-0.39352 2.4328 4.472 1.1985-4.9549 4.9728-0.93024-4.3111-2.6652 0.64406-5.0444-3.8817 3.3092zm-75.433 76.22 1.9498 4.7045-3.5059 3.6849 5.0801-0.39353 2.4328 4.472 1.1985-4.955 4.9728-0.93012-4.311-2.6653 0.64394-5.0444-3.8816 3.3092zm43.038-29.944 8.2106 3.8817 6.8869-5.8851-1.1627 8.9976 7.7455 4.7403-8.9261 1.6636-2.1287 8.8188-4.3467-7.9601-9.0513 0.71552 6.2428-6.6008zm-44.344 55.327 1.9497 4.7046-3.4881 3.7029 5.0802-0.42937 2.4327 4.5078 1.1806-4.9728 5.0087-0.9302-4.3468-2.6653 0.66179-5.0623-3.8637 3.3272zm103.88-100.94 1.9677 4.6866-3.488 3.7028 5.0801-0.39353 2.4149 4.4899 1.1806-4.9728 5.0086-0.93018-4.3288-2.6832 0.64396-5.0443-3.8638 3.3271zm-127.93 157.06c0.07812-0.0933 0.16158-0.16159 0.25056-0.25057l182.69-182.69c1.4301-1.4301 3.594-1.3073 5.3306 0.42925l46.33 46.33c1.7367 1.7367 1.8758 3.9197 0.53659 5.259l-182.65 182.65c-1.5465 1.5465-3.7191 1.3969-5.4558-0.33977l-46.33-46.33c-1.6281-1.6281-1.844-3.6484-0.69758-5.0622zm24.972-9.4449c-1.794 1.7941-2.9176 3.729-3.3808 5.8135-0.45262 2.074-0.25232 4.2204 0.62606 6.4576 0.87305 2.2107 2.2087 4.2122 3.989 5.9925 2.7658 2.7658 5.82 4.3932 9.1764 4.8834 2.3862 0.34792 5.3186-0.28947 8.783-1.8783 2.6952-1.2326 4.4746-1.97 5.3127-2.2359 1.236-0.37762 2.2954-0.43081 3.202-0.16107 0.90135 0.24315 1.7672 0.76551 2.5937 1.592 1.2876 1.2876 2.0234 2.799 2.2181 4.5436 0.18941 1.7181-0.48541 3.3475-2.0034 4.8655-1.4331 1.4332-3.0963 2.0384-5.0265 1.8066-1.9196-0.24219-4.1809-1.3698-6.7617-3.3986l-3.9175 5.2411c4.2182 3.6024 8.138 5.649 11.77 6.1176 3.6165 0.45297 6.923-0.80522 9.8741-3.7564 2.0276-2.0276 3.2937-4.1489 3.8101-6.3502 0.50048-2.2172 0.23627-4.5741-0.76914-7.0657-1.0054-2.4916-2.5049-4.723-4.5078-6.7259-2.2094-2.2094-4.3728-3.7652-6.4934-4.633-2.1258-0.89429-4.1731-1.1936-6.1355-0.94798-1.9677 0.21912-4.5166 1.0578-7.6203 2.54-3.1037 1.4824-5.3127 2.1561-6.6542 2.0035-1.0553-0.1209-1.9998-0.60447-2.8263-1.431-0.90602-0.90601-1.3717-1.8763-1.4131-2.9157-0.06756-1.6174 0.58034-3.1204 1.9497-4.4899 1.327-1.3269 2.715-1.9074 4.1679-1.7709 1.4477 0.11004 3.1717 0.96344 5.1696 2.558l4.4004-5.0444c-3.2852-3.1365-6.6255-4.9114-10.035-5.3484-3.399-0.44775-6.5685 0.80864-9.4985 3.7385zm23.952-23.952c-1.9002 1.9003-3.1168 4.0276-3.6491 6.4039-0.40997 1.777-0.36588 3.8331 0.1252 6.1714 0.50177 2.3277 1.3801 4.6473 2.6295 6.9584 1.7049 3.1274 4.3279 6.4745 7.8885 10.035 5.5634 5.5634 10.961 8.9049 16.189 10.035 5.2122 1.1144 9.5511-0.0704 13.022-3.5418 3.4288-3.4288 4.5826-7.7407 3.4523-12.969-1.1462-5.2437-4.5352-10.689-10.178-16.332-5.6906-5.6906-11.192-9.1069-16.457-10.232-5.2544-1.1354-9.5828 0.0308-13.022 3.4703zm77.902-77.902c-1.9002 1.9003-3.1167 4.0276-3.6492 6.4039-0.40989 1.7769-0.36582 3.8331 0.12526 6.1713 0.50172 2.3277 1.38 4.6474 2.6296 6.9583 1.7048 3.1275 4.328 6.4745 7.8885 10.035 5.5634 5.5634 10.961 8.905 16.189 10.035 5.2121 1.1144 9.5511-0.0704 13.022-3.5417 3.4289-3.4289 4.5826-7.7408 3.4523-12.969-1.1461-5.2438-4.5352-10.689-10.178-16.332-5.6906-5.6906-11.192-9.1069-16.457-10.232-5.2544-1.1355-9.5829 0.03086-13.022 3.4703zm-42.376 43.557 34.953 34.953 8.8724-8.8724c1.7409-1.7409 2.8868-3.3682 3.4345-4.9012 0.7231-2.0583 0.91131-4.108 0.53669-6.1177-0.49086-2.6564-1.7434-5.5484-3.7028-8.6756-1.6046-2.56-3.8309-5.2619-6.7079-8.139-3.2745-3.2745-6.2806-5.7971-9.0156-7.513-2.7508-1.7317-5.3878-2.8693-7.9064-3.4345-2.5184-0.56511-4.7702-0.46124-6.7438 0.30413-1.4642 0.57406-3.1553 1.8318-5.098 3.7744zm57.957-57.957 18.639 18.639c3.9103 3.9103 7.0269 6.7123 9.3374 8.4073 1.5634 1.1389 3.2789 2.0049 5.1876 2.5758 1.8928 0.55514 3.8166 0.636 5.742 0.26836 1.92-0.3941 3.9957-1.706 6.225-3.9354 1.8471-1.8471 3.0053-3.6815 3.4523-5.5274 0.43115-1.8617 0.38754-3.7273-0.12523-5.5989-0.50213-1.8822-1.5095-3.8261-2.9872-5.8136-1.478-1.9874-4.3182-5.0694-8.5147-9.266l-18.353-18.353-4.7046 4.7045 19.337 19.337c2.7658 2.7658 4.67 4.8233 5.724 6.1536 1.054 1.3303 1.6594 2.7336 1.8066 4.2394 0.13128 1.4901-0.46904 2.9018-1.8066 4.2394-1.3164 1.3164-2.7956 1.9366-4.4183 1.8425-1.6281-0.12046-3.251-0.79238-4.8834-2.0213-1.0068-0.77337-3.0237-2.6663-6.0281-5.6707l-18.925-18.925zm21.931-21.931 5.9029 5.9029 6.9226-6.9226 29.05 29.05 4.7045-4.7045-29.05-29.05 6.9227-6.9227-5.9029-5.9029zm-99.385 99.958 34.667 34.667 16.439-16.439-5.8851-5.8851-11.734 11.734-28.782-28.782zm-9.9457 20.249c1.9427-1.9426 4.4816-2.5206 7.6203-1.7173 3.1495 0.79271 6.727 3.1854 10.733 7.1909 4.0533 4.0535 6.4918 7.7205 7.3162 10.965 0.81923 3.2183 0.28688 5.7592-1.5921 7.6381-1.879 1.879-4.4542 2.4059-7.7097 1.592-3.2714-0.82959-6.8642-3.215-10.822-7.173-4.0215-4.0215-6.4466-7.6106-7.2446-10.786-0.81386-3.1916-0.24335-5.7669 1.6993-7.7096zm77.902-77.902c1.9428-1.9427 4.4815-2.5205 7.6202-1.7173 3.1494 0.79281 6.7092 3.2032 10.715 7.2088 4.0534 4.0534 6.5097 7.7027 7.3341 10.947 0.81916 3.2184 0.28694 5.7591-1.5921 7.6382-1.879 1.879-4.4541 2.4058-7.7097 1.5921-3.2713-0.82964-6.882-3.1972-10.84-7.1552-4.0215-4.0215-6.4289-7.6283-7.2268-10.804-0.81378-3.1917-0.24332-5.7669 1.6994-7.7097zm-37.833 38.763 2.1108-2.1108c1.9214-1.9214 3.341-3.106 4.2216-3.5418 1.1672-0.59486 2.444-0.77396 3.828-0.53658 1.3841 0.23737 2.9396 0.929 4.7046 2.057 1.7649 1.1282 4.0057 3.0398 6.708 5.7421 2.7023 2.7023 4.6836 5.0128 5.9388 6.9047 1.2392 1.8763 1.9547 3.4042 2.1286 4.5972 0.18462 1.1824 0.0311 2.2946-0.44721 3.345-0.36129 0.80646-1.1879 1.8677-2.5043 3.1841l-3.5239 3.5239zm-16.01 96.899 22.288-22.288c24.267 5.4087 50.7-1.3295 69.584-20.213 18.885-18.885 25.622-45.317 20.213-69.584l22.306-22.306c15.053 37.237 7.4742 81.5-22.718 111.69-30.191 30.191-74.437 37.752-111.67 22.7zm72.786-68.958 4.7224 7.7276 9.0155-1.1448-5.903 6.869 3.8996 8.2284-8.3894-3.4881-6.6008 6.2428 0.73346-9.0692-7.9959-4.3467 8.8366-2.0751zm50.999-48.494-0.94815 5.0265-4.9549 1.1628 4.472 2.4327-0.39351 5.0803 3.7029-3.4881 4.6867 1.9319-2.1644-4.5972 3.3093-3.8459-5.0623 0.66191zm-100.96 103.89-0.93007 5.0086-4.9729 1.1806 4.4899 2.4507-0.39359 5.0443 3.7028-3.488 4.6866 1.9676-2.2002-4.5972 3.3272-3.8996-5.0444 0.67968zm25.383-1.3059-0.93024 5.0087-4.9549 1.1985 4.472 2.4327-0.39353 5.0802 3.685-3.506 4.7224 1.9319-2.2002-4.5972 3.3092-3.8459-5.0444 0.64398zm76.22-75.433-0.94801 5.0265-4.955 1.1627 4.472 2.4328-0.37563 5.098 3.6849-3.506 4.7046 1.9497-2.1823-4.615 3.3093-3.8459-5.0444 0.64393zm-49.406 67.545-0.91232 4.9906-4.9728 1.1807 4.4719 2.4328-0.41132 5.098 3.7028-3.488 4.7225 1.932-2.2003-4.5972 3.3272-3.8638-5.0623 0.66191zm39.854-38.817-0.91226 4.9907-4.955 1.1984 4.472 2.4328-0.41147 5.098 3.685-3.506 4.7224 1.9319-2.2002-4.5972 3.3271-3.8637-5.0623 0.6618zm-16.153 23.702-0.94809 4.9907-4.937 1.1806 4.4719 2.4685-0.41129 5.0623 3.6849-3.506 4.7404 1.9497-2.2003-4.5972 3.2914-3.8638-5.0443 0.64396z' fill='%23AA6666' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100%;
    bottom: 0;
    width: 100%;
    z-index: 5;
}
