<header>
    <input id="navmenu" type="checkbox" class="left" />
    <div><img src="/layout/image/logo.png"></div>
    <nav>
        <ol>
            <li><a href="/">HOME</a></li>

            <input type="radio" name="panel" id="nav-web">
            <li>
                <label for="nav-web">WEB</label>
                <div class="submenu">
                    <a href="/cosmuic/" class="sub-item">
                        <img src="/layout/image/css3-alt.svg" class="material-icons-outlined"/>
                        <div class="details">
                            <div class="title">COSMUIC</div>
                            <div class="desc">Material UI like CSS for sites</div>
                        </div>
                    </a>

                    <a href="/html-tools/" class="sub-item">
                        <img src="/layout/image/tools-fill.svg" class="material-icons-outlined"/>
                        <div class="details">
                            <div class="title">HTML Stuff</div>
                            <div class="desc">Some useful things for the web</div>
                        </div>
                    </a>

                    <a href="/apps/" class="sub-item">
                        <img src="/layout/image/application_window.svg" class="material-icons-outlined"/>
                        <div class="details">
                            <div class="title">Web Apps</div>
                            <div class="desc">Various web based applications</div>
                        </div>
                    </a>

                    <a href="/games/" class="sub-item">
                        <img src="/layout/image/game-line.svg" class="material-icons-outlined"/>
                        <div class="details">
                            <div class="title">HTML Games</div>
                            <div class="desc">Some web based HTML games</div>
                        </div>
                    </a>
                </div>
            </li>

            <input type="radio" name="panel" id="nav-misc">
            <li>
                <label for="nav-misc">MISC</label>
                <div class="submenu">
                    <a href="/books/" class="sub-item">
                        <img src="/layout/image/book-half.svg" class="material-icons-outlined"/>
                        <div class="details">
                            <div class="title">eBooks</div>
                            <div class="desc">Custom eBooks using HTML & CSS</div>
                        </div>
                    </a>

                    <a href="/japanese/" class="sub-item">
                        <img src="/layout/image/letter-japanese-a.svg" class="material-icons-outlined"/>
                        <div class="details">
                            <div class="title">Japanese Study</div>
                            <div class="desc">Tools for studying Japanese</div>
                        </div>
                    </a>
                </div>
            </li>


            <li><a href="/about/">ABOUT</a></li>
        </ol>
    </nav>
</header>