/*
 * COSMUIC
 * ========================================
 *
 * 
 */


/*
 * COSMUIC - Root
 * ========================================
 *
 * 
 */

 :root {
    /* stick to 60-30-(10 * 2) color rule */

    /* color-scheme (choose one): only light, only dark, light dark */
    color-scheme: only light;
    /* color-scheme: only dark; */
    /* color-scheme:    light dark; */

/*
    09070e-f8f7fd-6231d3-a482f2-7940fc | f3f1f8-030208-5c2cce-2f0d7d-3b03bf
    131416-f6f7f9-6382b4-9cb5dd-6793db | e9eaec-060709-4b689b-223b63-245199
*/

    /* colors */
    --text:               light-dark( #131117, #ffffff );
    --bg:                 light-dark( #ffffff, #000000 ); /* #0f0c18 */
    --primary:            light-dark( #362371, #a18edc );
    --secondary:          light-dark( #896ae7, #371895 );
    --accent:             light-dark( #3f0ad1, #632ef5 );
    --textcontrast:       light-dark( #64d97b, #64d97b );
    --bgcontrast:         light-dark( #64d97b, #64d97b );
    --primarycontrast:    light-dark( #64d97b, #64d97b );
    --secondarycontrast:  light-dark( #ffdd00, #64d97b );
    --accentcontrast:     light-dark( #64d97b, #64d97b );

    /* --primary-text:       light-dark( var(--bg),   var(--bg)   );
    --secondary-text:     light-dark( var(--text), var(--text) );
    --accent-text:        light-dark( var(--bg),   var(--text) ); */

    --primary-text:       light-dark( var(--bg),   var(--bg)   );
    --secondary-text:     light-dark( var(--text), var(--text) );
    --accent-text:        light-dark( var(--bg),   var(--text) );

    --primary-disabled:   light-dark( #36237133, #a18edc33 );
    --secondary-disabled: light-dark( #896ae733, #37189533 );
    --accent-disables:    light-dark( #3f0ad133, #632ef533 );

    --elevate:            light-dark(#0000002c, #ffffff2c);

    --font: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
    --border-radius: .4rem;
    --line-height: 1.2rem;

    --dialog-bg:          light-dark( #ece7eb, #2b292d );
    --dialog-text:        light-dark( #1c1b1e, #e6e1e6 );
    --nav-width:          650px;

    /* light mode */
    --tbase: 260, 15%,  8%;
    --pbase: 255, 53%, 29%;
    --sbase: 255, 72%, 66%;
    --abase: 256, 91%, 43%;

    /* dark mode */
    /* --tbase: 260, 15%, 92%;
    --pbase: 255, 53%, 71%;
    --sbase: 255, 72%, 34%;
    --abase: 256, 91%, 57%; */





    /* Remaining CSS code is based off the information provided above - no change needed */

    &:has(input[id="color-scheme"][value="light dark"]:checked) {
        color-scheme: light dark;
    }
    &:has(input[id="color-scheme"][value="light"]:checked),
    &:has(input[id="color-scheme"][type="checkbox"]:not(:checked)) {
        color-scheme: light;
    }
    &:has(input[id="color-scheme"][value="dark"]:checked),
    &:has(input[id="color-scheme"][type="checkbox"]:checked) {
        color-scheme: dark;
    }
  
    --text5:  hsl(var(--tbase),  5%);
    --text10: hsl(var(--tbase), 10%);
    --text15: hsl(var(--tbase), 15%);
    --text20: hsl(var(--tbase), 20%);
    --text25: hsl(var(--tbase), 25%);
    --text30: hsl(var(--tbase), 30%);
    --text35: hsl(var(--tbase), 35%);
    --text40: hsl(var(--tbase), 40%);
    --text45: hsl(var(--tbase), 45%);
    --text50: hsl(var(--tbase), 50%);
    --text55: hsl(var(--tbase), 55%);
    --text60: hsl(var(--tbase), 60%);
    --text65: hsl(var(--tbase), 65%);
    --text70: hsl(var(--tbase), 70%);
    --text75: hsl(var(--tbase), 75%);
    --text80: hsl(var(--tbase), 80%);
    --text85: hsl(var(--tbase), 85%);
    --text90: hsl(var(--tbase), 90%);
    --text95: hsl(var(--tbase), 95%);

    --primary5:  hsl(var(--pbase),  5%);
    --primary10: hsl(var(--pbase), 10%);
    --primary15: hsl(var(--pbase), 15%);
    --primary20: hsl(var(--pbase), 20%);
    --primary25: hsl(var(--pbase), 25%);
    --primary30: hsl(var(--pbase), 30%);
    --primary35: hsl(var(--pbase), 35%);
    --primary40: hsl(var(--pbase), 40%);
    --primary45: hsl(var(--pbase), 45%);
    --primary50: hsl(var(--pbase), 50%);
    --primary55: hsl(var(--pbase), 55%);
    --primary60: hsl(var(--pbase), 60%);
    --primary65: hsl(var(--pbase), 65%);
    --primary70: hsl(var(--pbase), 70%);
    --primary75: hsl(var(--pbase), 75%);
    --primary80: hsl(var(--pbase), 80%);
    --primary85: hsl(var(--pbase), 85%);
    --primary90: hsl(var(--pbase), 90%);
    --primary95: hsl(var(--pbase), 95%);

    --secondary5:  hsl(var(--sbase),  5%);
    --secondary10: hsl(var(--sbase), 10%);
    --secondary15: hsl(var(--sbase), 15%);
    --secondary20: hsl(var(--sbase), 20%);
    --secondary25: hsl(var(--sbase), 25%);
    --secondary30: hsl(var(--sbase), 30%);
    --secondary35: hsl(var(--sbase), 35%);
    --secondary40: hsl(var(--sbase), 40%);
    --secondary45: hsl(var(--sbase), 45%);
    --secondary50: hsl(var(--sbase), 50%);
    --secondary55: hsl(var(--sbase), 55%);
    --secondary60: hsl(var(--sbase), 60%);
    --secondary65: hsl(var(--sbase), 65%);
    --secondary70: hsl(var(--sbase), 70%);
    --secondary75: hsl(var(--sbase), 75%);
    --secondary80: hsl(var(--sbase), 80%);
    --secondary85: hsl(var(--sbase), 85%);
    --secondary90: hsl(var(--sbase), 90%);
    --secondary95: hsl(var(--sbase), 95%);

    --accent5:  hsl(var(--abase),  5%);
    --accent10: hsl(var(--abase), 10%);
    --accent15: hsl(var(--abase), 15%);
    --accent20: hsl(var(--abase), 20%);
    --accent25: hsl(var(--abase), 25%);
    --accent30: hsl(var(--abase), 30%);
    --accent35: hsl(var(--abase), 35%);
    --accent40: hsl(var(--abase), 40%);
    --accent45: hsl(var(--abase), 45%);
    --accent50: hsl(var(--abase), 50%);
    --accent55: hsl(var(--abase), 55%);
    --accent60: hsl(var(--abase), 60%);
    --accent65: hsl(var(--abase), 65%);
    --accent70: hsl(var(--abase), 70%);
    --accent75: hsl(var(--abase), 75%);
    --accent80: hsl(var(--abase), 80%);
    --accent85: hsl(var(--abase), 85%);
    --accent90: hsl(var(--abase), 90%);
    --accent95: hsl(var(--abase), 95%);
}

/*
 * COSMUIC - Init
 * ========================================
 *
 * 
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font, "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
}

html {
    color-scheme: light dark;
}

/* html, body, * {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border-radius: inherit;
    box-sizing: border-box;
} */

html, body {
    font-size: var(--font-size, 13px);
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

body {
    overflow-y: scroll;
}

main {
    padding: 0 1rem;
}





/*
 * COSMUIC - HTML Elements
 * ========================================
 *
 * 
 */


/* a href link 
 * ======================================== */

a {
    text-decoration: none;
    color: var(--primary);
    display: inline-block;
    position: relative;
    line-height: 1rem;
}

a:after {
    margin-top: 3px;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-align: center;
}

a:hover::after {
    width: 100%;
    background: var(--primary);
}

a.clear:after {
    margin: 0;
    height: 0;
}

/* Blockquote, pre, code
 * ======================================== */

pre, code, kbd {
    font-family: monospace;
}

pre, code, kbd * {
    font-family: Consolas, "Courier New", monospace !important;
}

kbd {
    border: 1px solid var(--text);
    border-radius: 4px;
    padding: 0 .25rem
}

/* Buttons
 * ======================================== */

 button, a.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 1rem;
    margin: 0 .35rem;
    min-width: 4rem;
    height: 2.25rem;
    line-height: 2.25rem;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    color: var(--primary-text);
    background-color: var(--primary);
    box-shadow: 0 3px 1px -2px var(--elevate), 0 2px 2px 0 var(--elevate), 0 1px 5px 0 var(--elevate);
    font-size: .85rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.2s;
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
    box-shadow: 0 2px 4px -1px var(--elevate), 0 4px 5px 0 var(--elevate), 0 1px 10px 0 var(--elevate);
}

/* Highlight, Ripple */
button::before,
button::after,
a.button::before,
a.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0;
}

button::before,
a.button::before {
    /* background-color: rgb(var(--matter-helper-ontheme)); */
    transition: opacity 0.2s;
}

button::after,
a.button::after {
    background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
    transition: opacity 1s, background-size 0.5s;
}

/* Hover, Focus */
button:hover,
button:focus,
a.button:hover,
a.button:focus {
    box-shadow: 0 2px 4px -1px var(--elevate), 0 4px 5px 0 var(--elevate), 0 1px 10px 0 var(--elevate);
}

button:hover::before,
a.button:hover::before {
    opacity: 0.08;
}

button:focus::before,
a.button:focus::before {
    opacity: 0.24;
}

button:hover:focus::before,
a.button:hover:focus::before {
    opacity: 0.32;
}

button.text,
a.button.text {
    color: var(--primary-text);
    background-color: transparent !important;
}

/* Highlight, Ripple */
button.text::before,
button.text::after,
a.button.text::before,
a.button.text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0;
}

button.text::before,
a.button.text::before {
    /* background-color: rgb(var(--matter-helper-theme)); */
    transition: opacity 0.2s;
}

button.text::after,
a.button.text::after {
    background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
    transition: opacity 1s, background-size 0.5s;
}

/* Hover, Focus */
button.text:hover::before,
a.button.text:hover::before {
    opacity: 0.04;
}

button.text:focus::before,
a.button.text:focus::before {
    opacity: 0.12;
}

button.text:hover:focus::before,
a.button.text:hover:focus::before {
    opacity: 0.16;
}

/* Active */
button.text:active::after,
a.button.text:active::after {
    opacity: 0.16;
    background-size: 100% 100%;
    transition: background-size 0s;
}

/* Disabled */
button:disabled,
a.button:disabled {
    color: var(--primary);
    text-decoration: line-through;
    background-color: var(--primary-disabled);
    box-shadow: none;
}

button.text:disabled,
a.button.text:disabled {
    color: var(--primary-disabled);
    text-decoration: line-through;
    background-color: transparent;
    cursor: initial;
}

button.text:disabled::before,
button.text:disabled::after,
a.button.text:disabled::before,
a.button.text:disabled::after {
    opacity: 0;
}

button.unelevated,
button.text,
a.button.unelevated,
a.button.text {
    box-shadow: none;
}

/* Highlight, Ripple */
button.unelevated::before,
button.unelevated::after,
a.button.unelevated::before,
a.button.unelevated::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0;
}

button.unelevated::before,
a.button.unelevated::before {
    /* background-color: rgb(var(--matter-helper-ontheme)); */
    transition: opacity 0.2s;
}

button.unelevated::after,
a.button.unelevated::after {
    background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
    transition: opacity 1s, background-size 0.5s;
}

/* Hover, Focus */
button.unelevated:hover::before,
a.button.unelevated:hover::before {
    opacity: 0.08;
}

button.unelevated:focus::before,
a.button.unelevated:focus::before {
    opacity: 0.24;
}

button.unelevated:hover:focus::before,
a.button.unelevated:hover:focus::before {
    opacity: 0.32;
}

/* Active */
button.unelevated:active::after,
a.button.unelevated:active::after {
    opacity: 0.32;
    background-size: 100% 100%;
    transition: background-size 0s;
}

button.outlined,
a.button.outlined {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent !important;
    box-shadow: none;
}

button.outlined:disabled,
a.button.outlined:disabled {
    background-color: var(--primary-disabled) !important;
}

/* Hover, Focus */
button.outlined::before,
button.outlined::after,
button.chip::before,
button.chip::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    opacity: 0;
}

button.outlined::before,
button.chip::before {
    /* background-color: rgb(var(--matter-helper-theme)); */
    transition: opacity 0.2s;
}

button.outlined::after,
button.chip::after {
    background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
    transition: opacity 1s, background-size 0.5s;
}

button.outlined:hover::before,
button.chip:hover::before {
    opacity: 0.04;
}

button.outlined:focus::before,
button.chip:focus::before {
    opacity: 0.12;
}

button.outlined:hover:focus::before,
button.chip:hover:focus::before {
    opacity: 0.16;
}

/* Active */
button.outlined:active::after,
button.chip:active::after {
    opacity: 0.16;
    background-size: 100% 100%;
    transition: background-size 0s;
}

/* Dialogs
 * ======================================== */

dialog {
    display: block;
    /* display: none; */
    opacity: 0;
    border: none;
    position: fixed;
    padding: 1.5rem;
    z-index: -1;
    /* z-index: 12500; */
    inset: 10% auto auto 50%;
    min-inline-size: 20rem;
    max-inline-size: 100%;
    max-block-size: 80%;
    overflow-x: visible;
    overflow-y: auto;
    border-radius: 1.75rem;
    outline: none;
    background-color: var(--dialog-bg);
    color: var(--dialog-text);
    transform: translate(-50%,50%);
    transition: all 0.3s, 0s background-color ease-in-out;
}

#navmenu ~ nav {
    background-color: transparent;
}

#navmenu:checked ~ nav,
dialog:is([open]) {
    opacity: 1;
    visibility: visible;
    z-index: 12501;
    box-shadow: 0 0 0 1000vw rgba(0,0,0,0.35);
}

dialog.left,
dialog.right,
dialog.top,
dialog.bottom {
    opacity: 1;
    padding: 1rem;
    transform: translate(-100%);
}

dialog.left,
dialog.right {
    inline-size: auto;
    block-size: 100%;
    max-block-size: 100%;
}

dialog.top, dialog.bottom {
    block-size: auto;
    inline-size: 100%;
    min-inline-size: auto;
    max-block-size: 100%;
}

/* #navmenu.right ~ nav, */
dialog.right {
    opacity: 1;
    padding: 1rem;
    block-size: 100%;
    max-block-size: 100%;
    transform: translate(100%);
}

dialog.left,
#navmenu.left ~ nav {
    inset: 0 auto auto 0;
    border-radius: 0 1rem 1rem 0;
}

dialog.right,
#navmenu.right ~ nav {
    inset: 0 0 auto auto;
    inset-inline-end: 0;
    border-radius: 1rem 0 0 1rem;
}

dialog.top {
    inset: 0 auto auto 0;
    border-radius: 0 0 1rem 1rem;
    transform: translateY(-100%);
}

dialog.bottom {
    inset: auto auto 0 0;
    border-radius: 1rem 1rem 0 0;
    transform: translateY(100%);
}

dialog.full {
    inset: 0 auto auto 0;
    inline-size: 100%;
    block-size: 100%;
    max-inline-size: 100%;
    max-block-size: 100%;
    border-radius: 0;
    transform: translateY(0);
}

dialog.left:is([open]),
dialog.right:is([open]),
dialog.top:is([open]),
dialog.bottom:is([open]),
#navmenu:checked ~ nav {
    transform: translate(0);
}

dialog.blur:is([open])::backdrop {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}

/* Form
 * ======================================== */

 fieldset {
    position: relative;
    border-radius: .25rem;
    padding: 1rem;
    border: 1px solid transparent;
}

fieldset.outlined {
     border: 1px solid #d2d2d2;
}

fieldset legend {
    margin: 0 -.25rem;
    padding: 0 .25rem;
}

/* General Form Styles */
form div {
    position: relative;
    padding: 1rem 0 0;
    margin-top: 0.75rem;
    box-sizing: border-box; /* Ensure consistent sizing */
}

form label {
    position: absolute;
    left: 0.5rem;
    font-size: 0.75rem;
    top: 0.5rem; /* Default label position */
    transition: 0.2s ease-in-out; /* Smooth transitions */
}

form input,
form textarea {
    position: relative;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #d2d2d2;
    outline: 0;
    font-size: 1rem;
    color: #212121;
    padding: 0.5rem;
    background: transparent;
    transition: border-color 0.2s, padding-top 0.2s;
    line-height: var(--line-height);
    padding-top: 1rem;
    box-sizing: border-box; /* Prevent padding from affecting height */
}

form, input,
form textarea {
    line-height: 1.5rem; /* Adjust line-height for better text spacing */
    min-height: 3rem; /* Ensure a minimum height for the textarea */
    margin-bottom: -.25rem; /* Remove negative margin */
    padding-bottom: 0.5rem; /* Add extra padding for better alignment */
    resize: vertical; /* Allow vertical resizing */
    border-radius: 0;
}

form input::placeholder,
form textarea::placeholder {
    color: transparent;
}

form input:placeholder-shown ~ label,
form textarea:placeholder-shown ~ label {
    font-size: 1rem;
    top: 1.65rem; /* Placeholder-shown label position */
    cursor: text;
}

form input:focus ~ label,
form textarea:focus ~ label {
    font-size: 0.75rem;
    top: 0.5rem; /* Moves up when focused */
    color: var(--primary);
}

form input:focus,
form textarea:focus {
    border-bottom: 2px solid var(--primary);
}

/* Outlined Styles */
form.outlined input,
form.outlined textarea {
    border: 2px solid #d2d2d2;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}

form.outlined label {
    background-color: var(--bg);
    padding: 0 0.5rem;
}

form.outlined input:focus,
form.outlined textarea:focus {
    border: 2px solid var(--primary);
}

/* Filled Styles */
form.filled div {
    background-color: var(--primary-disabled);
    border-radius: var(--border-radius);
    overflow: hidden;
}

/* Footer
 * ======================================== */

/* Header
 * ======================================== */

 body > header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    /* padding: 20px 50px; */
    height: 56px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 12000;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body > header img {
    height: 56px;
    padding: 7px;
}

body > header > div:first-of-type {
    padding: 0 10px;
}

body > header + main {
    margin-top: 56px;
}

body > header ol {
    display: flex;
    margin: auto 0;
    list-style: none;
    position: relative;
}

body > header ol li {
    margin: 0 5px;
}

body > header ol li a,
body > header ol li label {
    font-size: 13px;
    color: black;
    /* text-transform: capitalize; */
    text-decoration: none;
    letter-spacing: 1px;
    padding: 8px 12px;

    line-height: 1rem;
    display: inline-block;
}

body > header ol li:hover a,
body > header ol li:hover label {
    background: #dfdfdf;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

body > header > nav {
    display: block;
}

body > header > input[type="checkbox"] {
    --webkit-appearance: none;
    display: none;
}

@media screen and (max-width: 650px) {
    body > header {
        /* display: block; */
        padding: 0;
    }

    body > header .icon {
        display: inline-block;
        /* margin: 20px 50px; */
    }

    body > header ol {
        display: block;
        /* background-color: #182334; */
        height: 100%;
    }

    body > header ol li {
        text-align: center;
        margin: 0;
        /* display: none; */
        padding: 5px;
    }

    body > header ol li a {
        /* padding: 30px; */
        /* font-size: 28px; */
        /* display: block; */
    }

    /* body > header ol li:hover a {
        background-color: #e34856;
        border-radius: 0;
        color: white;
    } */
}

/* Typography (h1, h2, h3, h4, h5, h6)
 * ======================================== */

 h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    display: block;
    align-items: center;
    line-height: normal;
}

h1 { font-size: 3.5rem; }
h2 { font-size: 2.75rem;  }
h3 { font-size: 2.25rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.75rem; }
h6 { font-size: 1.5rem; }

p {
    margin: .75rem 0;
}

/* Progress
 * ======================================== */

 /* Progress Circular */
progress.circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: var(--primary);
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}

progress.circular::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
progress.circular:indeterminate {
    animation: progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), progress.circular:indeterminate {
    animation: none;
}

progress.circular:indeterminate::before,
progress.circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    animation: progress-circular-pseudo 0.75s infinite linear alternate;
    animation-play-state: inherit;
    animation-delay: inherit;
}

progress.circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    animation: progress-circular-pseudo 0.75s infinite linear alternate;
    animation-play-state: inherit;
    animation-delay: inherit;
}

progress.circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes progress-circular {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes progress-circular-pseudo {
    0% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
        clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }
    18% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    53% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    88% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
    }
}

/* Progress Linear */
progress.linear {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 160px;
    height: 4px;
    vertical-align: middle;
    color: var(--primary);
    background-color: var(--secondary);
}

progress.linear::-webkit-progress-bar {
    background-color: transparent;
}

/* Determinate */
progress.linear::-webkit-progress-value {
    background-color: currentColor;
    transition: all 0.2s;
}

progress.linear::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
}

progress.linear::-ms-fill {
    border: none;
    background-color: currentColor;
    transition: all 0.2s;
}

/* Indeterminate */
progress.linear:indeterminate {
    background-size: 200% 100%;
    background-image:
        linear-gradient(to right, currentColor 16%, transparent 16%),
        linear-gradient(to right, currentColor 16%, transparent 16%),
        linear-gradient(to right, currentColor 25%, transparent 25%);
    animation: progress-linear 1.8s infinite linear;
}

progress.linear:indeterminate::-webkit-progress-value {
    background-color: transparent;
}

progress.linear:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

progress.linear:indeterminate::-ms-fill {
    animation-name: none;
}

@keyframes progress-linear {
    0% {
        background-position: 32% 0, 32% 0, 50% 0;
    }
    2% {
        background-position: 32% 0, 32% 0, 50% 0;
    }
    21% {
        background-position: 32% 0, -18% 0, 0 0;
    }
    42% {
        background-position: 32% 0, -68% 0, -27% 0;
    }
    50% {
        background-position: 32% 0, -93% 0, -46% 0;
    }
    56% {
        background-position: 32% 0, -118% 0, -68% 0;
    }
    66% {
        background-position: -11% 0, -200% 0, -100% 0;
    }
    71% {
        background-position: -32% 0, -200% 0, -100% 0;
    }
    79% {
        background-position: -54% 0, -242% 0, -100% 0;
    }
    86% {
        background-position: -68% 0, -268% 0, -100% 0;
    }
    100% {
        background-position: -100% 0, -300% 0, -100% 0;
    }
}

/*
 * COSMUIC - Custom classes
 * ========================================
 *
 * 
 */


/* Cards
 * ======================================== */

 .card1, .card2, .card3, .card4, .card5 {
    display: flex;
    box-shadow: var(--elevate);
    background-color: var(--secondary10);
    padding: 1rem;
    border-radius: 0.75rem;
    transition: 0.3s, border-radius 0.3s, padding 0.3s;
    padding: 0;
    overflow: hidden;
    transition: transform 0.3s, border-radius 0.3s, padding 0.3s;
}

.card1.clear,
.card2.clear,
.card3.clear,
.card4.clear,
.card5.clear {
    border: 1px solid black;
    box-shadow: none;
}

.card1 button,
.card2 button,
.card3 button,
.card5 button {
    margin-top: 1rem;
}

.card4 a.button, .card4 button {
    margin-right: 0.25rem;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 16 16' class='bi bi-three-dots-vertical'%3E%3Cpath d='M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'/%3E%3C/svg%3E");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border: 0;
    background-color: transparent !important;
    padding: 0;
}

.card1 div,
.card2 div,
.card3 div,
.card4 div,
.card5 div {
    padding: .35rem;
    display: flex;
    flex-direction: column;
}

.card4 div {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    border-radius: 0;
    padding-top: 1rem;
    color: white;
    flex-direction: row;
}

.card1 p:first-child,
.card2 p:first-child,
.card3 p:first-child,
.card4 p:first-child,
.card5 p:first-child {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    padding: .25rem 0.5rem;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card1 p:nth-child(2),
.card2 p:nth-child(2),
.card3 p:nth-child(2),
.card4 p:nth-child(2),
.card5 p:nth-child(2) {
    font-size: .9rem;
    flex: 1;
    padding: 0 0.5rem;
    margin: 0;

    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 0;
}

.card5 p:nth-child(2) {
    flex: 1 0 0;
}

.card1 > div,
.card2 > div,
.card3 > div,
.card4 > div,
.card5 > div {
    font-size: .9rem;
    flex: 1;

    max-height: 100%;
    overflow: hidden;
}

.card1 img {
    width: 100%;
    padding: 0;
}

.card2 img {
    border-radius: 50%;
    block-size: 3.5rem;
    inline-size: 3.5rem;
    margin: .5rem;
}

.card3 img {
    width: 100%;
    border-radius: 0.75rem;
    inline-size: 100%;
    /* block-size: 8rem; */
}

.card3, .card4 {
    flex-direction: column;
}

.card4 div {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}

.card4 div p {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card4 img {
    width: 100%;
    border-radius: 0.75rem;
}

.card5 img {
    width: 50%;
    border-radius: 0.75rem;
    /* object-fit: cover; */
}

.card1.round,
.card2.round,
.card3.round,
.card4.round,
.card5.round {
    border-radius: 1.5rem !important;
}

.card1.square,
.card2.square,
.card3.square,
.card4.square,
.card5.square {
    border-radius: 0 !important;
}

/* Chips
 * ======================================== */

 .chip > img {
    /* padding: -0.25rem; */
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
    /* margin: .1rem .25rem .1rem 0; */
    margin-left: -0.35rem;

    block-size: 1.8rem;
    inline-size: 1.8rem;
    /* margin: .5rem; */
}

.chip.square {
    border-radius: .35rem;
    padding: 0 .5rem;
 }

 .chip.clear {
    border: 1px solid var(--primary);
}

.chip.large {
    block-size: 3rem;
    min-inline-size: 3rem;
    border-radius: .5rem;
}

/* Grid
 * ======================================== */

 .s1  { grid-column: span 1; }
.s2  { grid-column: span 2; }
.s3  { grid-column: span 3; }
.s4  { grid-column: span 4; }
.s5  { grid-column: span 5; }
.s6  { grid-column: span 6; }
.s7  { grid-column: span 7; }
.s8  { grid-column: span 8; }
.s9  { grid-column: span 9; }
.s10 { grid-column: span 10; }
.s11 { grid-column: span 11; }
.s12 { grid-column: span 12; }

@media only screen and (min-width: 601px) {
.m1  { grid-column: span 1; }
.m2  { grid-column: span 2; }
.m3  { grid-column: span 3; }
.m4  { grid-column: span 4; }
.m5  { grid-column: span 5; }
.m6  { grid-column: span 6; }
.m7  { grid-column: span 7; }
.m8  { grid-column: span 8; }
.m9  { grid-column: span 9; }
.m10 { grid-column: span 10; }
.m11 { grid-column: span 11; }
.m12 { grid-column: span 12; }
}

@media only screen and (min-width: 1025px) {
.l1  { grid-column: span 1; }
.l2  { grid-column: span 2; }
.l3  { grid-column: span 3; }
.l4  { grid-column: span 4; }
.l5  { grid-column: span 5; }
.l6  { grid-column: span 6; }
.l7  { grid-column: span 7; }
.l8  { grid-column: span 8; }
.l9  { grid-column: span 9; }
.l10 { grid-column: span 10; }
.l11 { grid-column: span 11; }
.l12 { grid-column: span 12; }
}
 
.grid {
    ---gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, calc(8.33% - var(---gap) + (var(---gap) / 12)));
    gap: var(---gap);
}
 
.grid * {
    margin: 0;
    position: relative;
}

/* Hero sections
 * ======================================== */

 .hero {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 64px);
    margin-top: 64px;
}

.hero img {
    width: auto;
    height: auto;
    position: relative;
    max-width: 100vw;
    max-height: calc(100vh - 64px);
    object-fit: contain;
    z-index: 1;
}

.hero > span {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 3;
    padding: 1rem;
}

.hero > span h1 {
    display: flex;
    align-self: center;
    font-weight: bold;
    flex-direction: row;
    font-size: 2.5rem;
    line-height: 3rem;
}

.hero > span > p {
    padding: 1rem 0;
}

@media (min-width: 500px) {
    .hero > span {
        width: 50%;
        left: 0;
    }
    
    .hero > span h1 {
        width: 100%;
    }

    .hero.square > img {
        width: 50%;
        height: auto;
        left: 50%;
    }
}

@media (max-width: 499px) {
    .hero h1, .hero p{
        color: black;
    }

    .hero > span {
        height: auto;
        top: 100%;
        position: relative;
        background-color: white;
    }

    .hero.square > img {
        width: 50%;
        height: auto;
        left: 50%;
    }

    .hero.square > img {
        width: 100%;
        height: auto;
        left: 0;
    }
}

/* Navigation Menu Button
 * ======================================== */

@media screen and (max-width: 650px) {
    #navmenu ~ div {
        padding: 0;
    }

    #navmenu ~ nav {
        display: block;
        opacity: 0;
        border: none;
        position: fixed;
        padding: 1.5rem;
        /* z-index: -1; */
        z-index: 12500;
        inset: 10% auto auto 50%;
        min-inline-size: 20rem;
        max-inline-size: 100%;
        max-block-size: 80%;
        overflow-x: visible;
        overflow-y: auto;
        border-radius: 1.75rem;
        outline: none;
        background-color: var(--dialog-bg);
        color: var(--dialog-text);
        transform: translate(-50%,50%);
        transition: all 0.3s, 0s background-color ease-in-out;
    }

    #navmenu {
        appearance: none;
        width: 40px;
        height: 40px;
        position: fixed;
        cursor: pointer;
        background: none;
        border: none;
        display: block !important;
        z-index: 12550;
    }

    #navmenu::before,
    #navmenu::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        background: black;
        transition: transform 0.3s, top 0.3s;
    }

    #navmenu.left,
    #navmenu.left::before,
    #navmenu.left::after {
        left: 8px;
    }

    #navmenu.left ~ div:first-of-type {
        margin-left: 56px;
    }

    #navmenu.right,
    #navmenu.right::before,
    #navmenu.right::after {
        right: 8px;
    }

    #navmenu.right ~ nav {
        opacity: 1;
        padding: 1rem;
        block-size: 100%;
        max-block-size: 100%;
        transform: translate(100%);
    }

    #navmenu.right:checked ~ nav {
        transform: translate(0%);
    }

    /* Hamburger Lines */
    #navmenu::before {
        top: 12px;
        box-shadow: 0 6px 0 black; /* Creates second line */
    }

    #navmenu::after {
        top: 24px;
    }

    /* X shape when checked */
    #navmenu:checked::before {
        top: 18px;
        transform: rotate(45deg);
        box-shadow: none;
    }

    #navmenu:checked::after {
        top: 18px;
        transform: rotate(-45deg);
    }

    #navmenu ~ nav {
        opacity: 1;
        padding: 1rem;
        transform: translate(-100%);
    }

    #navmenu ~ nav {
        inline-size: auto;
        block-size: 100%;
        max-block-size: 100%;
    }

    #navmenu ~ nav {
        background-color: var(--dialog-bg);
    }

    #navmenu ~ nav  ol {
        position: absolute;
        padding-top: 56px;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
    }

    #navmenu ~ nav  li {
        text-align: left;
    }
}

/* Miscellaneous
 * ======================================== */

 .round {
    border-radius: 1000em !important;
}
