/* 

Primary Colors: #6BB647, #2AA34A, #F6B11A
Secondary Colors: #F1841F, F25F5C
Neutral Colors: #090405, #E8E8E8, #FFFFFF
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;

    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;

}

html, body {
    width: 100%;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    /* background-color: rgb(200, 224, 235); */
    /* border: 1px solid magenta; */
}

g {
    fill: #E8E8E8; /* #e5f3e1; */
    stroke: #090405;
}

g:hover {
    fill: #6BB647; /* #5f976b; */
}

svg#map {
    width: 100%;
    height: 100%;
}

g.selected {
    fill: #2AA34A;/* #30694c; */
}

g.hovered {
    fill: #6BB647;
    transition: fill 0.3s ease-in-out;
}

#slists {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#slists span {
    position: absolute;
    right: 15px;
    top: 15px;
    /* pointer-events: none; */
    cursor: pointer;
}

#slists > div {
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    padding: 1rem;

    border-radius: 12px;
    border: 0.5px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 25px 37px 0px rgba(0, 0, 0, 0.10), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
}

[name="stlist"] {
    display: none;
}

#SNorthAmerica { top: 60%; left: 20%; width: 45%; height: 40%; }
#SSouthAmerica { top: 30%; left:  0%; width: 45%; height: 40%; }
#SEurope       { top: 50%; left: 55%; width: 45%; height: 40%; }
#SAfrica       { top: 60%; left: 65%; width: 35%; height: 30%; }
#SAsia         { top: 60%; left: 40%; width: 45%; height: 40%; }
#SAustralia    { top: 75%; left: 50%; width: 35%; height: 20%; }