/* Navigation Menu */

body > header nav input {
    display: none;
}

body > header nav > ol > li {
    width: fit-content;
    position: relative;
    /* height: 100%; */
}

body > header nav > ol > li .submenu a {
    background-color: transparent;
}

body > header nav > ol > li .submenu .title {
    font-size: 16px;
    /* color: rgb(200, 200, 200); */
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

body > header .submenu {
    display: none;
    position: absolute;
    top: calc(100% + 12px);
    width: 320px;
    /* height: fit-content; */
    height: auto;
    background: white;
    box-sizing: border-box;
    border-radius: 1mm;
    /* padding: 5px 0; */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

body > header .submenu .title {
    color: black;
    padding-bottom: 6px;
}

body > header nav > ol > li .sub-item {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 10px 0;
    cursor: pointer;
}

body > header .sub-item:hover {
    background: rgba(0, 0, 0, 0.08);
}

body > header .sub-item span,
body > header .sub-item img {
    display: block;
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: rgb(120, 54, 227);
}

body > header .submenu .desc {
    font-size: 12px;
    color: rgb(160, 160, 160);
}

body > header nav > ol > li:hover > .submenu {
    display: block;
}

body > header nav > ol > li:hover > .submenu a::after {
    display: none;;
}

body > header nav > ol > li:nth-child(3) > .submenu {
    left: -160px;
}

body > header nav > ol > li:nth-child(5) > .submenu {
    right: -75px;
}


/* mobile naigation mods */

@media screen and (max-width: 650px) {
    body > header nav {
        background-color: white;
        position: relative;
    }
    
    body > header input:first-child ~ nav ol {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 64px;
    }

    body > header nav > ol > li {
        flex: none;
        position: relative;
        width: 100%;
        height: 44px;
        /* border-top: 1px solid #fff; */
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        /* box-shadow: inset 0 2px 0 #fff; */
        overflow: hidden;
        transition: flex 0.25s ease-in;
        margin: 0;
    }

    body > header nav > ol > li:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }

    body > header nav ol > li > a,
    body > header nav ol > li > label {
        display: flex;
        height: 44px;
        align-content: center;
        flex-wrap: wrap;
    }

    body > header nav ol > li:hover > a,
    body > header nav ol > li:hover > label {
        background-color: transparent;
    }

    body > header nav > ol input:checked + li {
        display: block;
        flex: auto;
        transition: flex 0.25s ease-out;
    }

    body > header nav > ol > li > .submenu {
        /* background-color: gray; */
        top: 0;
        width: 100%;
        left: 0 !important;
        /* height: 100%; */
        position: relative;

        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(100% - 44px);
        position: relative;
        /* padding: 15px 1.5em; */
        box-shadow: inset 10px 0 0 0 navy, inset 0 3px 6px rgba(0, 0, 0, 0.75);
        background: #efefef;
        display: block;
        border-radius: 0;
    }

    body > header input + li > label:after {
        content: "╋";
        position: absolute;
        top: 0;
        right: 1em;
        width: 1em;
        /* height: 1em; */
        /* text-align: center; */
        border-radius: 50%;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
        font-size: 10px;

        height: 44px;
        align-content: center;
        flex-wrap: wrap;

        left: calc(100% - 3em);
    }

    body > header input:checked + li > label:after {
        content: "━";
    }
}

header > iframe, footer > iframe {
    display: none;
}

body > header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body > header > span {
    background-color: var(--bg) !important;
}

body > header li label::after {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    /* width: 100%; */
    /* height: 25px; */

    width: calc(100% + 15px);
    left: 0;
    height: 100%;
}

header > span {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

header > span, main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
