:root {
    /* colors */
    --amber:        #FFC107 !important;
    --amber0:       #FFF8E1 !important;
    --amber1:       #FFECB3 !important;
    --amber2:       #FFE082 !important;
    --amber3:       #FFD54F !important;
    --amber4:       #FFCA28 !important;
    --amber5:       #FFC107 !important;
    --amber6:       #FFB300 !important;
    --amber7:       #FFA000 !important;
    --amber8:       #FF8F00 !important;
    --amber9:       #FF6F00 !important;
    --black:        #000000 !important;
    --blue:         #2196F3 !important;
    --blue0:        #E3F2FD !important;
    --blue1:        #BBDEFB !important;
    --blue2:        #90CAF9 !important;
    --blue3:        #64B5F6 !important;
    --blue4:        #42A5F5 !important;
    --blue5:        #2196F3 !important;
    --blue6:        #1E88E5 !important;
    --blue7:        #1976D2 !important;
    --blue8:        #1565C0 !important;
    --blue9:        #0D47A1 !important;
    --blue-grey:    #607D8B !important;
    --blue-grey0:   #ECEFF1 !important;
    --blue-grey1:   #CFD8DC !important;
    --blue-grey2:   #B0BEC5 !important;
    --blue-grey3:   #90A4AE !important;
    --blue-grey4:   #78909C !important;
    --blue-grey5:   #607D8B !important;
    --blue-grey6:   #546E7A !important;
    --blue-grey7:   #455A64 !important;
    --blue-grey8:   #37474F !important;
    --blue-grey9:   #263238 !important;
    --brown:        #795548 !important;
    --brown0:       #EFEBE9 !important;
    --brown1:       #D7CCC8 !important;
    --brown2:       #BCAAA4 !important;
    --brown3:       #A1887F !important;
    --brown4:       #8D6E63 !important;
    --brown5:       #795548 !important;
    --brown6:       #6D4C41 !important;
    --brown7:       #5D4037 !important;
    --brown8:       #4E342E !important;
    --brown9:       #3E2723 !important;
    --cyan:         #00BCD4 !important;
    --cyan0:        #E0F7FA !important;
    --cyan1:        #B2EBF2 !important;
    --cyan2:        #80DEEA !important;
    --cyan3:        #4DD0E1 !important;
    --cyan4:        #26C6DA !important;
    --cyan5:        #00BCD4 !important;
    --cyan6:        #00ACC1 !important;
    --cyan7:        #0097A7 !important;
    --cyan8:        #00838F !important;
    --cyan9:        #006064 !important;
    --deep-orange:  #FF5722 !important;
    --deep-orange0: #FBE9E7 !important;
    --deep-orange1: #FFCCBC !important;
    --deep-orange2: #FFAB91 !important;
    --deep-orange3: #FF8A65 !important;
    --deep-orange4: #FF7043 !important;
    --deep-orange5: #FF5722 !important;
    --deep-orange6: #F4511E !important;
    --deep-orange7: #E64A19 !important;
    --deep-orange8: #D84315 !important;
    --deep-orange9: #BF360C !important;
    --deep-purple:  #673AB7 !important;
    --deep-purple0: #EDE7F6 !important;
    --deep-purple1: #D1C4E9 !important;
    --deep-purple2: #B39DDB !important;
    --deep-purple3: #9575CD !important;
    --deep-purple4: #7E57C2 !important;
    --deep-purple5: #673AB7 !important;
    --deep-purple6: #5E35B1 !important;
    --deep-purple7: #512DA8 !important;
    --deep-purple8: #4527A0 !important;
    --deep-purple9: #311B92 !important;
    --green:        #4CAF50 !important;
    --green0:       #E8F5E9 !important;
    --green1:       #C8E6C9 !important;
    --green2:       #A5D6A7 !important;
    --green3:       #81C784 !important;
    --green4:       #66BB6A !important;
    --green5:       #4CAF50 !important;
    --green6:       #43A047 !important;
    --green7:       #388E3C !important;
    --green8:       #2E7D32 !important;
    --green9:       #1B5E20 !important;
    --grey:         #9E9E9E !important;
    --grey0:        #FAFAFA !important;
    --grey1:        #F5F5F5 !important;
    --grey2:        #EEEEEE !important;
    --grey3:        #E0E0E0 !important;
    --grey4:        #BDBDBD !important;
    --grey5:        #9E9E9E !important;
    --grey6:        #757575 !important;
    --grey7:        #616161 !important;
    --grey8:        #424242 !important;
    --grey9:        #212121 !important;
    --indigo:       #3F51B5 !important;
    --indigo0:      #E8EAF6 !important;
    --indigo1:      #C5CAE9 !important;
    --indigo2:      #9FA8DA !important;
    --indigo3:      #7986CB !important;
    --indigo4:      #5C6BC0 !important;
    --indigo5:      #3F51B5 !important;
    --indigo6:      #3949AB !important;
    --indigo7:      #303F9F !important;
    --indigo8:      #283593 !important;
    --indigo9:      #1A237E !important;
    --light-blue:   #03A9F4 !important;
    --light-blue0:  #E1F5FE !important;
    --light-blue1:  #B3E5FC !important;
    --light-blue2:  #81D4FA !important;
    --light-blue3:  #4FC3F7 !important;
    --light-blue4:  #29B6F6 !important;
    --light-blue5:  #03A9F4 !important;
    --light-blue6:  #039BE5 !important;
    --light-blue7:  #0288D1 !important;
    --light-blue8:  #0277BD !important;
    --light-blue9:  #01579B !important;
    --light-green:  #8BC34A !important;
    --light-green0: #F1F8E9 !important;
    --light-green1: #DCEDC8 !important;
    --light-green2: #C5E1A5 !important;
    --light-green3: #AED581 !important;
    --light-green4: #9CCC65 !important;
    --light-green5: #8BC34A !important;
    --light-green6: #7CB342 !important;
    --light-green7: #689F38 !important;
    --light-green8: #558B2F !important;
    --light-green9: #33691E !important;
    --lime:         #CDDC39 !important;
    --lime0:        #F9FBE7 !important;
    --lime1:        #F0F4C3 !important;
    --lime2:        #E6EE9C !important;
    --lime3:        #DCE775 !important;
    --lime4:        #D4E157 !important;
    --lime5:        #CDDC39 !important;
    --lime6:        #C0CA33 !important;
    --lime7:        #AFB42B !important;
    --lime8:        #9E9D24 !important;
    --lime9:        #827717 !important;
    --orange:       #FF9800 !important;
    --orange0:      #FFF3E0 !important;
    --orange1:      #FFE0B2 !important;
    --orange2:      #FFCC80 !important;
    --orange3:      #FFB74D !important;
    --orange4:      #FFA726 !important;
    --orange5:      #FF9800 !important;
    --orange6:      #FB8C00 !important;
    --orange7:      #F57C00 !important;
    --orange8:      #EF6C00 !important;
    --orange9:      #E65100 !important;
    --pink:         #E91E63 !important;
    --pink0:        #FCE4EC !important;
    --pink1:        #F8BBD0 !important;
    --pink2:        #F48FB1 !important;
    --pink3:        #F06292 !important;
    --pink4:        #EC407A !important;
    --pink5:        #E91E63 !important;
    --pink6:        #D81B60 !important;
    --pink7:        #C2185B !important;
    --pink8:        #AD1457 !important;
    --pink9:        #880E4F !important;
    --purple:       #9C27B0 !important;
    --purple0:      #F3E5F5 !important;
    --purple1:      #E1BEE7 !important;
    --purple2:      #CE93D8 !important;
    --purple3:      #BA68C8 !important;
    --purple4:      #AB47BC !important;
    --purple5:      #9C27B0 !important;
    --purple6:      #8E24AA !important;
    --purple7:      #7B1FA2 !important;
    --purple8:      #6A1B9A !important;
    --purple9:      #4A148C !important;
    --red:          #F44336 !important;
    --red0:         #FFEBEE !important;
    --red1:         #FFCDD2 !important;
    --red2:         #EF9A9A !important;
    --red3:         #E57373 !important;
    --red4:         #EF5350 !important;
    --red5:         #F44336 !important;
    --red6:         #E53935 !important;
    --red7:         #D32F2F !important;
    --red8:         #C62828 !important;
    --red9:         #B71C1C !important;
    --teal:         #009688 !important;
    --teal0:        #E0F2F1 !important;
    --teal1:        #B2DFDB !important;
    --teal2:        #80CBC4 !important;
    --teal3:        #4DB6AC !important;
    --teal4:        #26A69A !important;
    --teal5:        #009688 !important;
    --teal6:        #00897B !important;
    --teal7:        #00796B !important;
    --teal8:        #00695C !important;
    --teal9:        #004D40 !important;
    --yellow:       #FFEB3B !important;
    --yellow0:      #FFFDE7 !important;
    --yellow1:      #FFF9C4 !important;
    --yellow2:      #FFF59D !important;
    --yellow3:      #FFF176 !important;
    --yellow4:      #FFEE58 !important;
    --yellow5:      #FFEB3B !important;
    --yellow6:      #FDD835 !important;
    --yellow7:      #FBC02D !important;
    --yellow8:      #F9A825 !important;
    --yellow9:      #F57F17 !important;
    --white:        #FFFFFF !important;
}





/* Colors */
.transparent { background-color: transparent !important; }  .transparent-text { color: transparent !important; }  .transparent-border { border-color: transparent !important; }

.amber        { background-color: var(--amber);        }  .amber-text        { color: var(--amber);        }  .amber-border        { border-color: var(--amber);        }
.amber0       { background-color: var(--amber0);       }  .amber0-text       { color: var(--amber0);       }  .amber0-border       { border-color: var(--amber0);       }
.amber1       { background-color: var(--amber1);       }  .amber1-text       { color: var(--amber1);       }  .amber1-border       { border-color: var(--amber1);       }
.amber2       { background-color: var(--amber2);       }  .amber2-text       { color: var(--amber2);       }  .amber2-border       { border-color: var(--amber2);       }
.amber3       { background-color: var(--amber3);       }  .amber3-text       { color: var(--amber3);       }  .amber3-border       { border-color: var(--amber3);       }
.amber4       { background-color: var(--amber4);       }  .amber4-text       { color: var(--amber4);       }  .amber4-border       { border-color: var(--amber4);       }
.amber5       { background-color: var(--amber5);       }  .amber5-text       { color: var(--amber5);       }  .amber5-border       { border-color: var(--amber5);       }
.amber6       { background-color: var(--amber6);       }  .amber6-text       { color: var(--amber6);       }  .amber6-border       { border-color: var(--amber6);       }
.amber7       { background-color: var(--amber7);       }  .amber7-text       { color: var(--amber7);       }  .amber7-border       { border-color: var(--amber7);       }
.amber8       { background-color: var(--amber8);       }  .amber8-text       { color: var(--amber8);       }  .amber8-border       { border-color: var(--amber8);       }
.amber9       { background-color: var(--amber9);       }  .amber9-text       { color: var(--amber9);       }  .amber9-border       { border-color: var(--amber9);       }
.black        { background-color: var(--black);        }  .black-text        { color: var(--black);        }  .black-border        { border-color: var(--black);        }
.blue         { background-color: var(--blue);         }  .blue-text         { color: var(--blue);         }  .blue-border         { border-color: var(--blue);         }
.blue0        { background-color: var(--blue0);        }  .blue0-text        { color: var(--blue0);        }  .blue0-border        { border-color: var(--blue0);        }
.blue1        { background-color: var(--blue1);        }  .blue1-text        { color: var(--blue1);        }  .blue1-border        { border-color: var(--blue1);        }
.blue2        { background-color: var(--blue2);        }  .blue2-text        { color: var(--blue2);        }  .blue2-border        { border-color: var(--blue2);        }
.blue3        { background-color: var(--blue3);        }  .blue3-text        { color: var(--blue3);        }  .blue3-border        { border-color: var(--blue3);        }
.blue4        { background-color: var(--blue4);        }  .blue4-text        { color: var(--blue4);        }  .blue4-border        { border-color: var(--blue4);        }
.blue5        { background-color: var(--blue5);        }  .blue5-text        { color: var(--blue5);        }  .blue5-border        { border-color: var(--blue5);        }
.blue6        { background-color: var(--blue6);        }  .blue6-text        { color: var(--blue6);        }  .blue6-border        { border-color: var(--blue6);        }
.blue7        { background-color: var(--blue7);        }  .blue7-text        { color: var(--blue7);        }  .blue7-border        { border-color: var(--blue7);        }
.blue8        { background-color: var(--blue8);        }  .blue8-text        { color: var(--blue8);        }  .blue8-border        { border-color: var(--blue8);        }
.blue9        { background-color: var(--blue9);        }  .blue9-text        { color: var(--blue9);        }  .blue9-border        { border-color: var(--blue9);        }
.blue-grey    { background-color: var(--blue-grey);    }  .blue-grey-text    { color: var(--blue-grey);    }  .blue-grey-border    { border-color: var(--blue-grey);    }
.blue-grey0   { background-color: var(--blue-grey0);   }  .blue-grey0-text   { color: var(--blue-grey0);   }  .blue-grey0-border   { border-color: var(--blue-grey0);   }
.blue-grey1   { background-color: var(--blue-grey1);   }  .blue-grey1-text   { color: var(--blue-grey1);   }  .blue-grey1-border   { border-color: var(--blue-grey1);   }
.blue-grey2   { background-color: var(--blue-grey2);   }  .blue-grey2-text   { color: var(--blue-grey2);   }  .blue-grey2-border   { border-color: var(--blue-grey2);   }
.blue-grey3   { background-color: var(--blue-grey3);   }  .blue-grey3-text   { color: var(--blue-grey3);   }  .blue-grey3-border   { border-color: var(--blue-grey3);   }
.blue-grey4   { background-color: var(--blue-grey4);   }  .blue-grey4-text   { color: var(--blue-grey4);   }  .blue-grey4-border   { border-color: var(--blue-grey4);   }
.blue-grey5   { background-color: var(--blue-grey5);   }  .blue-grey5-text   { color: var(--blue-grey5);   }  .blue-grey5-border   { border-color: var(--blue-grey5);   }
.blue-grey6   { background-color: var(--blue-grey6);   }  .blue-grey6-text   { color: var(--blue-grey6);   }  .blue-grey6-border   { border-color: var(--blue-grey6);   }
.blue-grey7   { background-color: var(--blue-grey7);   }  .blue-grey7-text   { color: var(--blue-grey7);   }  .blue-grey7-border   { border-color: var(--blue-grey7);   }
.blue-grey8   { background-color: var(--blue-grey8);   }  .blue-grey8-text   { color: var(--blue-grey8);   }  .blue-grey8-border   { border-color: var(--blue-grey8);   }
.blue-grey9   { background-color: var(--blue-grey9);   }  .blue-grey9-text   { color: var(--blue-grey9);   }  .blue-grey9-border   { border-color: var(--blue-grey9);   }
.brown        { background-color: var(--brown);        }  .brown-text        { color: var(--brown);        }  .brown-border        { border-color: var(--brown);        }
.brown0       { background-color: var(--brown0);       }  .brown0-text       { color: var(--brown0);       }  .brown0-border       { border-color: var(--brown0);       }
.brown1       { background-color: var(--brown1);       }  .brown1-text       { color: var(--brown1);       }  .brown1-border       { border-color: var(--brown1);       }
.brown2       { background-color: var(--brown2);       }  .brown2-text       { color: var(--brown2);       }  .brown2-border       { border-color: var(--brown2);       }
.brown3       { background-color: var(--brown3);       }  .brown3-text       { color: var(--brown3);       }  .brown3-border       { border-color: var(--brown3);       }
.brown4       { background-color: var(--brown4);       }  .brown4-text       { color: var(--brown4);       }  .brown4-border       { border-color: var(--brown4);       }
.brown5       { background-color: var(--brown5);       }  .brown5-text       { color: var(--brown5);       }  .brown5-border       { border-color: var(--brown5);       }
.brown6       { background-color: var(--brown6);       }  .brown6-text       { color: var(--brown6);       }  .brown6-border       { border-color: var(--brown6);       }
.brown7       { background-color: var(--brown7);       }  .brown7-text       { color: var(--brown7);       }  .brown7-border       { border-color: var(--brown7);       }
.brown8       { background-color: var(--brown8);       }  .brown8-text       { color: var(--brown8);       }  .brown8-border       { border-color: var(--brown8);       }
.brown9       { background-color: var(--brown9);       }  .brown9-text       { color: var(--brown9);       }  .brown9-border       { border-color: var(--brown9);       }
.cyan         { background-color: var(--cyan);         }  .cyan-text         { color: var(--cyan);         }  .cyan-border         { border-color: var(--cyan);         }
.cyan0        { background-color: var(--cyan0);        }  .cyan0-text        { color: var(--cyan0);        }  .cyan0-border        { border-color: var(--cyan0);        }
.cyan1        { background-color: var(--cyan1);        }  .cyan1-text        { color: var(--cyan1);        }  .cyan1-border        { border-color: var(--cyan1);        }
.cyan2        { background-color: var(--cyan2);        }  .cyan2-text        { color: var(--cyan2);        }  .cyan2-border        { border-color: var(--cyan2);        }
.cyan3        { background-color: var(--cyan3);        }  .cyan3-text        { color: var(--cyan3);        }  .cyan3-border        { border-color: var(--cyan3);        }
.cyan4        { background-color: var(--cyan4);        }  .cyan4-text        { color: var(--cyan4);        }  .cyan4-border        { border-color: var(--cyan4);        }
.cyan5        { background-color: var(--cyan5);        }  .cyan5-text        { color: var(--cyan5);        }  .cyan5-border        { border-color: var(--cyan5);        }
.cyan6        { background-color: var(--cyan6);        }  .cyan6-text        { color: var(--cyan6);        }  .cyan6-border        { border-color: var(--cyan6);        }
.cyan7        { background-color: var(--cyan7);        }  .cyan7-text        { color: var(--cyan7);        }  .cyan7-border        { border-color: var(--cyan7);        }
.cyan8        { background-color: var(--cyan8);        }  .cyan8-text        { color: var(--cyan8);        }  .cyan8-border        { border-color: var(--cyan8);        }
.cyan9        { background-color: var(--cyan9);        }  .cyan9-text        { color: var(--cyan9);        }  .cyan9-border        { border-color: var(--cyan9);        }
.deep-orange  { background-color: var(--deep-orange);  }  .deep-orange-text  { color: var(--deep-orange);  }  .deep-orange-border  { border-color: var(--deep-orange);  }
.deep-orange0 { background-color: var(--deep-orange0); }  .deep-orange0-text { color: var(--deep-orange0); }  .deep-orange0-border { border-color: var(--deep-orange0); }
.deep-orange1 { background-color: var(--deep-orange1); }  .deep-orange1-text { color: var(--deep-orange1); }  .deep-orange1-border { border-color: var(--deep-orange1); }
.deep-orange2 { background-color: var(--deep-orange2); }  .deep-orange2-text { color: var(--deep-orange2); }  .deep-orange2-border { border-color: var(--deep-orange2); }
.deep-orange3 { background-color: var(--deep-orange3); }  .deep-orange3-text { color: var(--deep-orange3); }  .deep-orange3-border { border-color: var(--deep-orange3); }
.deep-orange4 { background-color: var(--deep-orange4); }  .deep-orange4-text { color: var(--deep-orange4); }  .deep-orange4-border { border-color: var(--deep-orange4); }
.deep-orange5 { background-color: var(--deep-orange5); }  .deep-orange5-text { color: var(--deep-orange5); }  .deep-orange5-border { border-color: var(--deep-orange5); }
.deep-orange6 { background-color: var(--deep-orange6); }  .deep-orange6-text { color: var(--deep-orange6); }  .deep-orange6-border { border-color: var(--deep-orange6); }
.deep-orange7 { background-color: var(--deep-orange7); }  .deep-orange7-text { color: var(--deep-orange7); }  .deep-orange7-border { border-color: var(--deep-orange7); }
.deep-orange8 { background-color: var(--deep-orange8); }  .deep-orange8-text { color: var(--deep-orange8); }  .deep-orange8-border { border-color: var(--deep-orange8); }
.deep-orange9 { background-color: var(--deep-orange9); }  .deep-orange9-text { color: var(--deep-orange9); }  .deep-orange9-border { border-color: var(--deep-orange9); }
.deep-purple  { background-color: var(--deep-purple);  }  .deep-purple-text  { color: var(--deep-purple);  }  .deep-purple-border  { border-color: var(--deep-purple);  }
.deep-purple0 { background-color: var(--deep-purple0); }  .deep-purple0-text { color: var(--deep-purple0); }  .deep-purple0-border { border-color: var(--deep-purple0); }
.deep-purple1 { background-color: var(--deep-purple1); }  .deep-purple1-text { color: var(--deep-purple1); }  .deep-purple1-border { border-color: var(--deep-purple1); }
.deep-purple2 { background-color: var(--deep-purple2); }  .deep-purple2-text { color: var(--deep-purple2); }  .deep-purple2-border { border-color: var(--deep-purple2); }
.deep-purple3 { background-color: var(--deep-purple3); }  .deep-purple3-text { color: var(--deep-purple3); }  .deep-purple3-border { border-color: var(--deep-purple3); }
.deep-purple4 { background-color: var(--deep-purple4); }  .deep-purple4-text { color: var(--deep-purple4); }  .deep-purple4-border { border-color: var(--deep-purple4); }
.deep-purple5 { background-color: var(--deep-purple5); }  .deep-purple5-text { color: var(--deep-purple5); }  .deep-purple5-border { border-color: var(--deep-purple5); }
.deep-purple6 { background-color: var(--deep-purple6); }  .deep-purple6-text { color: var(--deep-purple6); }  .deep-purple6-border { border-color: var(--deep-purple6); }
.deep-purple7 { background-color: var(--deep-purple7); }  .deep-purple7-text { color: var(--deep-purple7); }  .deep-purple7-border { border-color: var(--deep-purple7); }
.deep-purple8 { background-color: var(--deep-purple8); }  .deep-purple8-text { color: var(--deep-purple8); }  .deep-purple8-border { border-color: var(--deep-purple8); }
.deep-purple9 { background-color: var(--deep-purple9); }  .deep-purple9-text { color: var(--deep-purple9); }  .deep-purple9-border { border-color: var(--deep-purple9); }
.green        { background-color: var(--green);        }  .green-text        { color: var(--green);        }  .green-border        { border-color: var(--green);        }
.green0       { background-color: var(--green0);       }  .green0-text       { color: var(--green0);       }  .green0-border       { border-color: var(--green0);       }
.green1       { background-color: var(--green1);       }  .green1-text       { color: var(--green1);       }  .green1-border       { border-color: var(--green1);       }
.green2       { background-color: var(--green2);       }  .green2-text       { color: var(--green2);       }  .green2-border       { border-color: var(--green2);       }
.green3       { background-color: var(--green3);       }  .green3-text       { color: var(--green3);       }  .green3-border       { border-color: var(--green3);       }
.green4       { background-color: var(--green4);       }  .green4-text       { color: var(--green4);       }  .green4-border       { border-color: var(--green4);       }
.green5       { background-color: var(--green5);       }  .green5-text       { color: var(--green5);       }  .green5-border       { border-color: var(--green5);       }
.green6       { background-color: var(--green6);       }  .green6-text       { color: var(--green6);       }  .green6-border       { border-color: var(--green6);       }
.green7       { background-color: var(--green7);       }  .green7-text       { color: var(--green7);       }  .green7-border       { border-color: var(--green7);       }
.green8       { background-color: var(--green8);       }  .green8-text       { color: var(--green8);       }  .green8-border       { border-color: var(--green8);       }
.green9       { background-color: var(--green9);       }  .green9-text       { color: var(--green9);       }  .green9-border       { border-color: var(--green9);       }
.grey         { background-color: var(--grey);         }  .grey-text         { color: var(--grey);         }  .grey-border         { border-color: var(--grey);         }
.grey0        { background-color: var(--grey0);        }  .grey0-text        { color: var(--grey0);        }  .grey0-border        { border-color: var(--grey0);        }
.grey1        { background-color: var(--grey1);        }  .grey1-text        { color: var(--grey1);        }  .grey1-border        { border-color: var(--grey1);        }
.grey2        { background-color: var(--grey2);        }  .grey2-text        { color: var(--grey2);        }  .grey2-border        { border-color: var(--grey2);        }
.grey3        { background-color: var(--grey3);        }  .grey3-text        { color: var(--grey3);        }  .grey3-border        { border-color: var(--grey3);        }
.grey4        { background-color: var(--grey4);        }  .grey4-text        { color: var(--grey4);        }  .grey4-border        { border-color: var(--grey4);        }
.grey5        { background-color: var(--grey5);        }  .grey5-text        { color: var(--grey5);        }  .grey5-border        { border-color: var(--grey5);        }
.grey6        { background-color: var(--grey6);        }  .grey6-text        { color: var(--grey6);        }  .grey6-border        { border-color: var(--grey6);        }
.grey7        { background-color: var(--grey7);        }  .grey7-text        { color: var(--grey7);        }  .grey7-border        { border-color: var(--grey7);        }
.grey8        { background-color: var(--grey8);        }  .grey8-text        { color: var(--grey8);        }  .grey8-border        { border-color: var(--grey8);        }
.grey9        { background-color: var(--grey9);        }  .grey9-text        { color: var(--grey9);        }  .grey9-border        { border-color: var(--grey9);        }
.indigo       { background-color: var(--indigo);       }  .indigo-text       { color: var(--indigo);       }  .indigo-border       { border-color: var(--indigo);       }
.indigo0      { background-color: var(--indigo0);      }  .indigo0-text      { color: var(--indigo0);      }  .indigo0-border      { border-color: var(--indigo0);      }
.indigo1      { background-color: var(--indigo1);      }  .indigo1-text      { color: var(--indigo1);      }  .indigo1-border      { border-color: var(--indigo1);      }
.indigo2      { background-color: var(--indigo2);      }  .indigo2-text      { color: var(--indigo2);      }  .indigo2-border      { border-color: var(--indigo2);      }
.indigo3      { background-color: var(--indigo3);      }  .indigo3-text      { color: var(--indigo3);      }  .indigo3-border      { border-color: var(--indigo3);      }
.indigo4      { background-color: var(--indigo4);      }  .indigo4-text      { color: var(--indigo4);      }  .indigo4-border      { border-color: var(--indigo4);      }
.indigo5      { background-color: var(--indigo5);      }  .indigo5-text      { color: var(--indigo5);      }  .indigo5-border      { border-color: var(--indigo5);      }
.indigo6      { background-color: var(--indigo6);      }  .indigo6-text      { color: var(--indigo6);      }  .indigo6-border      { border-color: var(--indigo6);      }
.indigo7      { background-color: var(--indigo7);      }  .indigo7-text      { color: var(--indigo7);      }  .indigo7-border      { border-color: var(--indigo7);      }
.indigo8      { background-color: var(--indigo8);      }  .indigo8-text      { color: var(--indigo8);      }  .indigo8-border      { border-color: var(--indigo8);      }
.indigo9      { background-color: var(--indigo9);      }  .indigo9-text      { color: var(--indigo9);      }  .indigo9-border      { border-color: var(--indigo9);      }
.light-blue   { background-color: var(--light-blue);   }  .light-blue-text   { color: var(--light-blue);   }  .light-blue-border   { border-color: var(--light-blue) ;  }
.light-blue0  { background-color: var(--light-blue0);  }  .light-blue0-text  { color: var(--light-blue0);  }  .light-blue0-border  { border-color: var(--light-blue0);  }
.light-blue1  { background-color: var(--light-blue1);  }  .light-blue1-text  { color: var(--light-blue1);  }  .light-blue1-border  { border-color: var(--light-blue1);  }
.light-blue2  { background-color: var(--light-blue2);  }  .light-blue2-text  { color: var(--light-blue2);  }  .light-blue2-border  { border-color: var(--light-blue2);  }
.light-blue3  { background-color: var(--light-blue3);  }  .light-blue3-text  { color: var(--light-blue3);  }  .light-blue3-border  { border-color: var(--light-blue3);  }
.light-blue4  { background-color: var(--light-blue4);  }  .light-blue4-text  { color: var(--light-blue4);  }  .light-blue4-border  { border-color: var(--light-blue4);  }
.light-blue5  { background-color: var(--light-blue5);  }  .light-blue5-text  { color: var(--light-blue5);  }  .light-blue5-border  { border-color: var(--light-blue5);  }
.light-blue6  { background-color: var(--light-blue6);  }  .light-blue6-text  { color: var(--light-blue6);  }  .light-blue6-border  { border-color: var(--light-blue6);  }
.light-blue7  { background-color: var(--light-blue7);  }  .light-blue7-text  { color: var(--light-blue7);  }  .light-blue7-border  { border-color: var(--light-blue7);  }
.light-blue8  { background-color: var(--light-blue8);  }  .light-blue8-text  { color: var(--light-blue8);  }  .light-blue8-border  { border-color: var(--light-blue8);  }
.light-blue9  { background-color: var(--light-blue9);  }  .light-blue9-text  { color: var(--light-blue9);  }  .light-blue9-border  { border-color: var(--light-blue9);  }
.light-green  { background-color: var(--light-green);  }  .light-green-text  { color: var(--light-green);  }  .light-green-border  { border-color: var(--light-green);  }
.light-green0 { background-color: var(--light-green0); }  .light-green0-text { color: var(--light-green0); }  .light-green0-border { border-color: var(--light-green0); }
.light-green1 { background-color: var(--light-green1); }  .light-green1-text { color: var(--light-green1); }  .light-green1-border { border-color: var(--light-green1); }
.light-green2 { background-color: var(--light-green2); }  .light-green2-text { color: var(--light-green2); }  .light-green2-border { border-color: var(--light-green2); }
.light-green3 { background-color: var(--light-green3); }  .light-green3-text { color: var(--light-green3); }  .light-green3-border { border-color: var(--light-green3); }
.light-green4 { background-color: var(--light-green4); }  .light-green4-text { color: var(--light-green4); }  .light-green4-border { border-color: var(--light-green4); }
.light-green5 { background-color: var(--light-green5); }  .light-green5-text { color: var(--light-green5); }  .light-green5-border { border-color: var(--light-green5); }
.light-green6 { background-color: var(--light-green6); }  .light-green6-text { color: var(--light-green6); }  .light-green6-border { border-color: var(--light-green6); }
.light-green7 { background-color: var(--light-green7); }  .light-green7-text { color: var(--light-green7); }  .light-green7-border { border-color: var(--light-green7); }
.light-green8 { background-color: var(--light-green8); }  .light-green8-text { color: var(--light-green8); }  .light-green8-border { border-color: var(--light-green8); }
.light-green9 { background-color: var(--light-green9); }  .light-green9-text { color: var(--light-green9); }  .light-green9-border { border-color: var(--light-green9); }
.lime         { background-color: var(--lime);         }  .lime-text         { color: var(--lime);         }  .lime-border         { border-color: var(--lime);         }
.lime0        { background-color: var(--lime0);        }  .lime0-text        { color: var(--lime0);        }  .lime0-border        { border-color: var(--lime0);        }
.lime1        { background-color: var(--lime1);        }  .lime1-text        { color: var(--lime1);        }  .lime1-border        { border-color: var(--lime1);        }
.lime2        { background-color: var(--lime2);        }  .lime2-text        { color: var(--lime2);        }  .lime2-border        { border-color: var(--lime2);        }
.lime3        { background-color: var(--lime3);        }  .lime3-text        { color: var(--lime3);        }  .lime3-border        { border-color: var(--lime3);        }
.lime4        { background-color: var(--lime4);        }  .lime4-text        { color: var(--lime4);        }  .lime4-border        { border-color: var(--lime4);        }
.lime5        { background-color: var(--lime5);        }  .lime5-text        { color: var(--lime5);        }  .lime5-border        { border-color: var(--lime5);        }
.lime6        { background-color: var(--lime6);        }  .lime6-text        { color: var(--lime6);        }  .lime6-border        { border-color: var(--lime6);        }
.lime7        { background-color: var(--lime7);        }  .lime7-text        { color: var(--lime7);        }  .lime7-border        { border-color: var(--lime7);        }
.lime8        { background-color: var(--lime8);        }  .lime8-text        { color: var(--lime8);        }  .lime8-border        { border-color: var(--lime8);        }
.lime9        { background-color: var(--lime9);        }  .lime9-text        { color: var(--lime9);        }  .lime9-border        { border-color: var(--lime9);        }
.orange       { background-color: var(--orange);       }  .orange-text       { color: var(--orange);       }  .orange-border       { border-color: var(--orange);       }
.orange0      { background-color: var(--orange0);      }  .orange0-text      { color: var(--orange0);      }  .orange0-border      { border-color: var(--orange0);      }
.orange1      { background-color: var(--orange1);      }  .orange1-text      { color: var(--orange1);      }  .orange1-border      { border-color: var(--orange1);      }
.orange2      { background-color: var(--orange2);      }  .orange2-text      { color: var(--orange2);      }  .orange2-border      { border-color: var(--orange2);      }
.orange3      { background-color: var(--orange3);      }  .orange3-text      { color: var(--orange3);      }  .orange3-border      { border-color: var(--orange3);      }
.orange4      { background-color: var(--orange4);      }  .orange4-text      { color: var(--orange4);      }  .orange4-border      { border-color: var(--orange4);      }
.orange5      { background-color: var(--orange5);      }  .orange5-text      { color: var(--orange5);      }  .orange5-border      { border-color: var(--orange5);      }
.orange6      { background-color: var(--orange6);      }  .orange6-text      { color: var(--orange6);      }  .orange6-border      { border-color: var(--orange6);      }
.orange7      { background-color: var(--orange7);      }  .orange7-text      { color: var(--orange7);      }  .orange7-border      { border-color: var(--orange7);      }
.orange8      { background-color: var(--orange8);      }  .orange8-text      { color: var(--orange8);      }  .orange8-border      { border-color: var(--orange8);      }
.orange9      { background-color: var(--orange9);      }  .orange9-text      { color: var(--orange9);      }  .orange9-border      { border-color: var(--orange9);      }
.pink         { background-color: var(--pink);         }  .pink-text         { color: var(--pink);         }  .pink-border         { border-color: var(--pink);         }
.pink0        { background-color: var(--pink0);        }  .pink0-text        { color: var(--pink0);        }  .pink0-border        { border-color: var(--pink0);        }
.pink1        { background-color: var(--pink1);        }  .pink1-text        { color: var(--pink1);        }  .pink1-border        { border-color: var(--pink1);        }
.pink2        { background-color: var(--pink2);        }  .pink2-text        { color: var(--pink2);        }  .pink2-border        { border-color: var(--pink2);        }
.pink3        { background-color: var(--pink3);        }  .pink3-text        { color: var(--pink3);        }  .pink3-border        { border-color: var(--pink3);        }
.pink4        { background-color: var(--pink4);        }  .pink4-text        { color: var(--pink4);        }  .pink4-border        { border-color: var(--pink4);        }
.pink5        { background-color: var(--pink5);        }  .pink5-text        { color: var(--pink5);        }  .pink5-border        { border-color: var(--pink5);        }
.pink6        { background-color: var(--pink6);        }  .pink6-text        { color: var(--pink6);        }  .pink6-border        { border-color: var(--pink6);        }
.pink7        { background-color: var(--pink7);        }  .pink7-text        { color: var(--pink7);        }  .pink7-border        { border-color: var(--pink7);        }
.pink8        { background-color: var(--pink8);        }  .pink8-text        { color: var(--pink8);        }  .pink8-border        { border-color: var(--pink8);        }
.pink9        { background-color: var(--pink9);        }  .pink9-text        { color: var(--pink9);        }  .pink9-border        { border-color: var(--pink9);        }
.purple       { background-color: var(--purple);       }  .purple-text       { color: var(--purple);       }  .purple-border       { border-color: var(--purple);       }
.purple0      { background-color: var(--purple0);      }  .purple0-text      { color: var(--purple0);      }  .purple0-border      { border-color: var(--purple0);      }
.purple1      { background-color: var(--purple1);      }  .purple1-text      { color: var(--purple1);      }  .purple1-border      { border-color: var(--purple1);      }
.purple2      { background-color: var(--purple2);      }  .purple2-text      { color: var(--purple2);      }  .purple2-border      { border-color: var(--purple2);      }
.purple3      { background-color: var(--purple3);      }  .purple3-text      { color: var(--purple3);      }  .purple3-border      { border-color: var(--purple3);      }
.purple4      { background-color: var(--purple4);      }  .purple4-text      { color: var(--purple4);      }  .purple4-border      { border-color: var(--purple4);      }
.purple5      { background-color: var(--purple5);      }  .purple5-text      { color: var(--purple5);      }  .purple5-border      { border-color: var(--purple5);      }
.purple6      { background-color: var(--purple6);      }  .purple6-text      { color: var(--purple6);      }  .purple6-border      { border-color: var(--purple6);      }
.purple7      { background-color: var(--purple7);      }  .purple7-text      { color: var(--purple7);      }  .purple7-border      { border-color: var(--purple7);      }
.purple8      { background-color: var(--purple8);      }  .purple8-text      { color: var(--purple8);      }  .purple8-border      { border-color: var(--purple8);      }
.purple9      { background-color: var(--purple9);      }  .purple9-text      { color: var(--purple9);      }  .purple9-border      { border-color: var(--purple9);      }
.red          { background-color: var(--red);          }  .red-text          { color: var(--red);          }  .red-border          { border-color: var(--red);          }
.red0         { background-color: var(--red0);         }  .red0-text         { color: var(--red0);         }  .red0-border         { border-color: var(--red0);         }
.red1         { background-color: var(--red1);         }  .red1-text         { color: var(--red1);         }  .red1-border         { border-color: var(--red1);         }
.red2         { background-color: var(--red2);         }  .red2-text         { color: var(--red2);         }  .red2-border         { border-color: var(--red2);         }
.red3         { background-color: var(--red3);         }  .red3-text         { color: var(--red3);         }  .red3-border         { border-color: var(--red3);         }
.red4         { background-color: var(--red4);         }  .red4-text         { color: var(--red4);         }  .red4-border         { border-color: var(--red4);         }
.red5         { background-color: var(--red5);         }  .red5-text         { color: var(--red5);         }  .red5-border         { border-color: var(--red5);         }
.red6         { background-color: var(--red6);         }  .red6-text         { color: var(--red6);         }  .red6-border         { border-color: var(--red6);         }
.red7         { background-color: var(--red7);         }  .red7-text         { color: var(--red7);         }  .red7-border         { border-color: var(--red7);         }
.red8         { background-color: var(--red8);         }  .red8-text         { color: var(--red8);         }  .red8-border         { border-color: var(--red8);         }
.red9         { background-color: var(--red9);         }  .red9-text         { color: var(--red9);         }  .red9-border         { border-color: var(--red9);         }
.teal         { background-color: var(--teal);         }  .teal-text         { color: var(--teal);         }  .teal-border         { border-color: var(--teal);         }
.teal0        { background-color: var(--teal0);        }  .teal0-text        { color: var(--teal0);        }  .teal0-border        { border-color: var(--teal0);        }
.teal1        { background-color: var(--teal1);        }  .teal1-text        { color: var(--teal1);        }  .teal1-border        { border-color: var(--teal1);        }
.teal2        { background-color: var(--teal2);        }  .teal2-text        { color: var(--teal2);        }  .teal2-border        { border-color: var(--teal2);        }
.teal3        { background-color: var(--teal3);        }  .teal3-text        { color: var(--teal3);        }  .teal3-border        { border-color: var(--teal3);        }
.teal4        { background-color: var(--teal4);        }  .teal4-text        { color: var(--teal4);        }  .teal4-border        { border-color: var(--teal4);        }
.teal5        { background-color: var(--teal5);        }  .teal5-text        { color: var(--teal5);        }  .teal5-border        { border-color: var(--teal5);        }
.teal6        { background-color: var(--teal6);        }  .teal6-text        { color: var(--teal6);        }  .teal6-border        { border-color: var(--teal6);        }
.teal7        { background-color: var(--teal7);        }  .teal7-text        { color: var(--teal7);        }  .teal7-border        { border-color: var(--teal7);        }
.teal8        { background-color: var(--teal8);        }  .teal8-text        { color: var(--teal8);        }  .teal8-border        { border-color: var(--teal8);        }
.teal9        { background-color: var(--teal9);        }  .teal9-text        { color: var(--teal9);        }  .teal9-border        { border-color: var(--teal9);        }
.yellow       { background-color: var(--yellow);       }  .yellow-text       { color: var(--yellow);       }  .yellow-border       { border-color: var(--yellow);       }
.yellow0      { background-color: var(--yellow0);      }  .yellow0-text      { color: var(--yellow0);      }  .yellow0-border      { border-color: var(--yellow0);      }
.yellow1      { background-color: var(--yellow1);      }  .yellow1-text      { color: var(--yellow1);      }  .yellow1-border      { border-color: var(--yellow1);      }
.yellow2      { background-color: var(--yellow2);      }  .yellow2-text      { color: var(--yellow2);      }  .yellow2-border      { border-color: var(--yellow2);      }
.yellow3      { background-color: var(--yellow3);      }  .yellow3-text      { color: var(--yellow3);      }  .yellow3-border      { border-color: var(--yellow3);      }
.yellow4      { background-color: var(--yellow4);      }  .yellow4-text      { color: var(--yellow4);      }  .yellow4-border      { border-color: var(--yellow4);      }
.yellow5      { background-color: var(--yellow5);      }  .yellow5-text      { color: var(--yellow5);      }  .yellow5-border      { border-color: var(--yellow5);      }
.yellow6      { background-color: var(--yellow6);      }  .yellow6-text      { color: var(--yellow6);      }  .yellow6-border      { border-color: var(--yellow6);      }
.yellow7      { background-color: var(--yellow7);      }  .yellow7-text      { color: var(--yellow7);      }  .yellow7-border      { border-color: var(--yellow7);      }
.yellow8      { background-color: var(--yellow8);      }  .yellow8-text      { color: var(--yellow8);      }  .yellow8-border      { border-color: var(--yellow8);      }
.yellow9      { background-color: var(--yellow9);      }  .yellow9-text      { color: var(--yellow9);      }  .yellow9-border      { border-color: var(--yellow9);      }
.white        { background-color: var(--white);        }  .white-text        { color: var(--white);        }  .white-border        { border-color: var(--white);        }





* {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    vertical-align: middle;
    color: inherit;
    margin: 0;
    padding: 0;
    border-radius: inherit;
    box-sizing: border-box;
}





/* Grids */

.s1  { grid-column: span 1; }
.s2  { grid-column: span 2; }
.s3  { grid-column: span 3; }
.s4  { grid-column: span 4; }
.s5  { grid-column: span 5; }
.s6  { grid-column: span 6; }
.s7  { grid-column: span 7; }
.s8  { grid-column: span 8; }
.s9  { grid-column: span 9; }
.s10 { grid-column: span 10; }
.s11 { grid-column: span 11; }
.s12 { grid-column: span 12; }

@media only screen and (min-width: 601px) {
.m1  { grid-column: span 1; }
.m2  { grid-column: span 2; }
.m3  { grid-column: span 3; }
.m4  { grid-column: span 4; }
.m5  { grid-column: span 5; }
.m6  { grid-column: span 6; }
.m7  { grid-column: span 7; }
.m8  { grid-column: span 8; }
.m9  { grid-column: span 9; }
.m10 { grid-column: span 10; }
.m11 { grid-column: span 11; }
.m12 { grid-column: span 12; }
}

@media only screen and (min-width: 993px) {
.l1  { grid-column: span 1; }
.l2  { grid-column: span 2; }
.l3  { grid-column: span 3; }
.l4  { grid-column: span 4; }
.l5  { grid-column: span 5; }
.l6  { grid-column: span 6; }
.l7  { grid-column: span 7; }
.l8  { grid-column: span 8; }
.l9  { grid-column: span 9; }
.l10 { grid-column: span 10; }
.l11 { grid-column: span 11; }
.l12 { grid-column: span 12; }
}

.grid {
    ---gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, calc(8.33% - var(---gap) + (var(---gap) / 12)));
    gap: var(---gap);
}

.grid > * {
    margin: 0;
}





.fixed {
    position: fixed;
}

:is(header, footer, menu > *).fixed {
    position: sticky;
    inset: 0;
    z-index: 11;
    /* background-color: inherit; */
    background-color: var(--surface-container);
}

:is(header, footer, menu > *).fixed > nav {
    padding: 0;
}

:is(nav, .row) > .max, :is(nav, .row) > :is(ol, ul) > .max, nav.drawer > :is(a, label) > .max, nav.drawer > :is(ol, ul) > li > :is(a, label) > .max {
    flex: 1;
}

header,
footer {
    display: flex;
    justify-content: flex-start;
    height: 56px;
    flex-direction: row;
    align-items: center;

    /* justify-content: center; */
    /* flex-direction: column; */
    min-block-size: 4rem;
    padding: 0 1rem;
    /* background-color: var(--surface-container); */

    /* display: flex;
    justify-content: flex-start;
    flex-direction: row;
    min-block-size: 4rem;
    padding: 0 1rem;
    background-color: var(--surface-container);

    height: 56px;
    z-index: 12000;
    align-items: center; */

    /* display: flex;
    align-items: center;
    align-self: normal;
    text-align: start;
    justify-content: flex-start;
    white-space: nowrap;
    gap: 1rem; */
}

header > * {
    padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    display: block;
    align-items: center;
    line-height: normal;
}

h1 { font-size: 3.5625rem; }
h2 { font-size: 2.8125rem; }
h3 { font-size: 2.25rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.75rem; }
h6 { font-size: 1.5rem; }
h1.small { font-size: 3.0625rem; }
h2.small { font-size: 2.3125rem; }
h3.small { font-size: 1.75rem; }
h4.small { font-size: 1.5rem; }
h5.small { font-size: 1.25rem; }
h6.small { font-size: 1rem; }
h1.large { font-size: 4.0625rem; }
h2.large { font-size: 3.3125rem; }
h3.large { font-size: 2.75rem; }
h4.large { font-size: 2.5rem; }
h5.large { font-size: 2.25rem; }
h6.large { font-size: 2rem; }



/* body {
    background-color: var(--primary);
} */


.max {
    flex: 1;
}

.middle-align {
    display: flex;
    align-items: center !important;
}

.no-scroll {
    overflow: hidden;
}

.center-align {
    text-align: center;
    justify-content: center !important;
}

nav, .row, a.row, nav.drawer > :is(a, label), nav.drawer > :is(ol, ul) > li > :is(a, label) {
    display: flex;
    align-items: center;
    align-self: normal;
    text-align: start;
    justify-content: flex-start;
    white-space: nowrap;
    gap: 1rem;
}






/* 
.responsive {
    inline-size: -webkit-fill-available;
    inline-size: -moz-available;
}

:is(img, svg, video):is(.small, .medium, .large, .tiny, .extra, .round, .circle, .responsive) {
    object-fit: cover;
    object-position: center;
    transition: transform var(--speed3), border-radius var(--speed3), padding var(--speed3);
    block-size: 3rem;
    inline-size: 3rem;
}

:is(img, svg, video).responsive.small {
    inline-size: 100%;
    block-size: 8rem;
}
 */


 /* .bottom-shadow {
    background-image: linear-gradient(to top, black, transparent);
} */

.button, button {
    box-sizing: content-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 2.5rem;
    min-inline-size: 2.5rem;
    font-size: .875rem;
    font-weight: 500;
    color: var(--on-primary);
    padding: 0 1.5rem;
    background-color: var(--primary);
    margin: 0 .5rem;
    border-radius: 1.25rem;
    transition: transform var(--speed3), border-radius var(--speed3), padding var(--speed3);
    -webkit-user-select: none;
    user-select: none;
    gap: 1rem;
    line-height: normal;
    text-decoration: none;
}
