
nav {
    position: fixed;
    width: 300px;
    border-right: 1px solid #cccccc;
    height: calc(100vh - 56px);
    overflow: auto;
    flex-shrink: 0;
    margin-top: 56px;
    z-index: 2;
}

nav a {
    display: block;
    color: black;
    padding: 10px;
}

article {
    position: absolute;
    top: 56px;
    /* height: 500px; */
    width: 100%;
    padding: 20px 320px 50vh 320px;
}

aside {
    position: fixed;
    width: 280px;
    margin: 20px;
    right: 0;
    top: 56px;
}

aside::before {
    content: 'CONTENTS';
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 400;
}

/* Check Later */
aside ul {
    list-style: none;
}

/* Check Later */
aside li {
    margin: 10px;
    font-size: .75rem;
    padding-left: 5px;
}

aside a {
    color: #808080;
    cursor: pointer;
    border-left: 3px solid transparent !important;
    padding-left: 5px;
    /* border-left: 2px solid transparent !important; */
}

/* aside a:hover {
    color: black;
} */

aside a:hover li,
aside a.activetoc {
    color: black;
    border-left: 3px solid #666666 !important;
}

[name="css"], [name="css"] + label {
    display: none;
}

[name="css"] + label + article,
[name="css"] + label + article + aside {
    display: none;
}

[name="css"] + label + article {
    width: 100%;
    /* height: 100%;
    overflow: scroll; */
    /* padding: 10px 25px; */
}

[name="css"]:checked + label + article,
[name="css"]:checked + label + article + aside {
    display: block;
}

/* Coding colors */

.expansion:has(code) {
    margin-bottom: 5rem;
}

.expansion:has(code) div {
    background-color: #333333;
    color: #CCCCCC;
}

.expansion:has(code) pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    background-color: unset;
    border-inline-start: unset;
    padding: 1.5rem 0;
}

.css-p { color: #CE9178; }
.css-a { color: #9CDCFE; }
.css-t { color: #569cd6; }
.css-b { color: #808080; }
.css-c { color: #6A9955; }

pre {
    border-radius: 0;
    background-color: #333333;
    color: #CCCCCC;
    white-space: pre-wrap;
    padding: 1rem;
    border-inline-start: .25rem solid #9CDCFE;
    font-family: inherit;
}
