/* dialog
/* =========================  */

dialog {
    display: flex !important;
    flex-direction: column !important;
    /* display: none; */
    opacity: 0 !important;
    border: none !important;
    position: fixed !important;
    padding: 1.5rem 0 !important;
    z-index: -1 !important;
    /* z-index: 12500; */
    /* inset: 10% auto auto 50%; */
    /* min-inline-size: 20rem; */
    /* max-inline-size: 100%; */
    /* max-block-size: 80%; */
    overflow-x: visible !important;
    overflow-y: auto !important;
    border-radius: 1.75rem !important;
    outline: none !important;
    background-color: #ece7eb !important;
    color: #1c1b1e !important;
    /* transform: translate(-50%,50%); */
    transition: all 0.3s, 0s background-color ease-in-out !important;
    margin: auto !important;
}

dialog > *:not(div) {
    padding: 0 1.5rem !important;
}

body > header input:first-child ~ nav {
    background-color: transparent !important;
}

body > header input:first-child:checked ~ nav,
dialog:is([open]) {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 12501 !important;
    box-shadow: 0 0 0 1000vw rgba(0,0,0,0.35) !important;
}

dialog.left,
dialog.right,
dialog.top,
dialog.bottom {
    opacity: 1 !important;
    padding: 1rem !important;
    transform: translate(-100%) !important;
}

dialog.left,
dialog.right {
    inline-size: auto !important;
    block-size: 100% !important;
    max-block-size: 100% !important;
}

dialog.top, dialog.bottom {
    block-size: auto !important;
    inline-size: 100% !important;
    min-inline-size: auto !important;
    max-block-size: 100% !important;
}

dialog.right {
    opacity: 1 !important;
    padding: 1rem !important;
    block-size: 100% !important;
    max-block-size: 100% !important;
    transform: translate(100%) !important;
}

dialog.left,
body > header:not([data-nav]) input:first-child ~ nav,
body > header[data-nav="left"] input:first-child ~ nav {
    inset: 0 auto auto 0 !important;
    border-radius: 0 1rem 1rem 0 !important;

    height: 100% !important;
}

dialog.right,
body > header[data-nav="right"] input:first-child ~ nav {
    inset: 0 0 auto auto !important;
    inset-inline-end: 0 !important;
    border-radius: 1rem 0 0 1rem !important;

    height: 100% !important;
}

dialog.top {
    inset: 0 auto auto 0 !important;
    border-radius: 0 0 1rem 1rem !important;
    transform: translateY(-100%) !important;
}

dialog.bottom {
    inset: auto auto 0 0 !important;
    border-radius: 1rem 1rem 0 0 !important;
    transform: translateY(100%) !important;
}

dialog.full {
    inset: 0 auto auto 0 !important;
    inline-size: 100% !important;
    block-size: 100% !important;
    max-inline-size: 100% !important;
    max-block-size: 100% !important;
    border-radius: 0 !important;
    transform: translateY(0) !important;
}

dialog.left:is([open]),
dialog.right:is([open]),
dialog.top:is([open]),
dialog.bottom:is([open]),
body > header input:first-child:checked ~ nav {
    transform: translate(0) !important;
}

dialog.blur:is([open])::backdrop {
    -webkit-backdrop-filter: blur(1rem) !important;
    backdrop-filter: blur(1rem) !important;
}

dialog > div {
    display: flex !important;
    flex: 1 !important;
    overflow-y: auto !important;
    overflow-x: none !important;
    flex-direction: column !important;
    padding: 0 1.5rem !important;
}

dialog > span {
    display: inline-flex !important;
    justify-content: flex-end !important;
}

/* heade
/* =========================  */

/* Navigation Menu */

body > header {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    background-color: #ffffff !important;
}

body > header, header > span {
    width: 100% !important;
    height: 64px !important;
    z-index: 12000 !important;
    display: flex !important;
    justify-content: space-between !important;
}

body > header > span {
    max-width: 1200px !important;
    margin: auto !important;
}

body > header > div:first-of-type, body > header span > div:first-of-type {
    padding: 0 10px !important;
    display: flex !important;
    align-items: center !important;
}

body > header img {
    height: 56px !important;
    padding: 7px !important;
}

body > header ul, body > header ol {
    display: flex !important;
    flex-direction: row !important;
    /* margin: auto 0; */
    list-style: none !important;
    position: relative !important;
    align-items: center !important;
    background-color: transparent !important;
    margin-bottom: 0 !important;
}

body > header li {
    margin: 0 5px !important;
    padding: 0 !important;
}

body > header a {
    font-size: 13px !important;
    color: #131117 !important;
    /* text-transform: capitalize; */
    text-decoration: none !important;
    letter-spacing: 1px !important;
    padding: 8px 12px !important;
    line-height: 1rem !important;
    display: flex !important;
    align-items: center !important;
}

/* nav
/* =========================  */

body > header input:first-child {
    --webkit-appearance: none !important;
    display: none !important;
}

body > header nav {
    display: flex !important;
    background-color: transparent !important;
}

body > header nav > *:first-child:not(ol,ul) {
    display: none !important;
}

body > header li a, body > header li label {
    font-size: 13px !important;
    color: black !important;
    text-decoration: none !important;
    letter-spacing: 1px !important;
    padding: 8px 12px !important;
    line-height: 1rem !important;
    /* display: inline-block; */
    cursor: pointer !important;

    display: inline-flex !important;
    /* height: 100%; */
    align-items: center !important;
}

body > header li a {
    margin: 0 !important;
}

@media screen and (max-width: 650px) {

    body > header li a, body > header li label {
        height: auto !important;
    }

    body > header a {
        padding-left: 0 !important;
    }
    body > header input:first-child ~ div {
        padding: 0 !important;
    }

    body > header input:first-child ~ nav {
        display: block !important;
        opacity: 0 !important;
        border: none !important;
        position: fixed !important;
        /* top: 0 !important; */
        /* left: 0 !important; */
        padding: 1.5rem !important;
        /* z-index: -1; */
        z-index: 12500 !important;
        inset: 10% auto auto 50% !important;
        /* min-inline-size: 20rem; */
        min-inline-size: min(100vw, 20rem) !important;
        max-inline-size: 100% !important;
        max-block-size: 80% !important;
        overflow-x: visible;
        overflow-y: auto;
        border-radius: 1.75rem !important;
        outline: none !important;
        background-color: #ece7eb !important;
        color: #1c1b1e !important;
        transform: translate(-50%,50%) !important;
        transition: all 0.3s, 0s background-color ease-in-out !important;
    }

    body > header nav > *:first-child:not(ol,ul) {
        display: block !important;
    }

    body > header input:first-child {
        appearance: none !important;
        top: 12px !important;
        width: 40px !important;
        height: 40px !important;
        position: fixed !important;
        cursor: pointer !important;
        background: none !important;
        border: none !important;
        display: block !important; /* !important */
        z-index: 12550 !important;
    }

    body > header input:first-child::before,
    body > header input:first-child::after {
        content: "" !important;
        position: absolute !important;
        width: 24px !important;
        height: 2px !important;
        background: black !important;
        transition: transform 0.3s, top 0.3s !important;
    }

    body > header input:first-child,
    body > header input:first-child::before,
    body > header input:first-child::after {
        left: 8px !important;
    }

    body > header input:first-child ~ div:first-of-type {
        margin-left: 56px !important;
    }

    body > header[data-nav="right"] input:first-child ~ div:first-of-type {
        margin-left: unset !important;
    }

    body > header[data-nav="right"] input:first-child,
    body > header[data-nav="right"] input:first-child::before,
    body > header[data-nav="right"] input:first-child::after {
        right: 8px !important;
        left: unset !important;
    }

    body > header[data-nav="right"] input:first-child ~ nav {
        opacity: 1 !important;
        padding: 1rem !important;
        block-size: 100% !important;
        max-block-size: 100% !important;
        transform: translate(100%) !important;
    }

    body > header input:first-child nav h6,
    body > header input:first-child nav p {
        margin-left: 42px !important;
    }

    body > header[data-nav="right"] input:first-child:checked ~ nav {
        transform: translate(0%) !important;
    }

    /* Hamburger Lines */
    body > header input:first-child::before {
        top: 12px !important;
        box-shadow: 0 6px 0 black !important; /* Creates second line */
    }

    body > header input:first-child::after {
        top: 24px !important;
    }

    /* X shape when checked */
    body > header input:first-child:checked::before {
        top: 18px !important;
        transform: rotate(45deg) !important;
        box-shadow: none !important;
    }

    body > header input:first-child:checked::after {
        top: 18px !important;
        transform: rotate(-45deg) !important;
    }

    body > header input:first-child ~ nav {
        opacity: 1 !important;
        padding: 1rem !important;
        transform: translate(-100%) !important;
    }

    body > header input:first-child ~ nav {
        inline-size: auto !important;
        block-size: 100% !important;
        max-block-size: 100% !important;
    }

    body > header input:first-child ~ nav {
        background-color: #ece7eb !important;
    }

    body > header input:first-child ~ nav ol,
    body > header input:first-child ~ nav ul {
        position: absolute !important;
        padding-top: 84px !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: auto !important;

        display: block !important;
        /* background-color: #182334; */
        height: 100% !important;
    }

    body > header input:first-child ~ nav li {
        text-align: left !important;
        display: block !important;
        min-block-size: 2.75rem !important;
    }
}



body > header ~ main {
    position: relative !important;
    top: 64px !important;
}

header > span, main {
    width: 100% !important;
    max-width: 1200px !important;
    margin: auto !important;
}

main {
    margin: auto !important;
    padding: 0 10px !important;
}



















/* Navigation Menu */

body > header nav input {
    display: none !important;
}

body > header nav > ol > li {
    width: fit-content !important;
    position: relative !important;
    /* height: 100%; */
}

body > header nav > ol > li .submenu a {
    background-color: transparent !important;
}

body > header nav > ol > li .submenu .title {
    font-size: 16px !important;
    /* color: rgb(200, 200, 200); */
    font-weight: 500 !important;
    position: relative !important;
    cursor: pointer !important;
}

body > header .submenu {
    display: none !important;
    position: absolute !important;
    top: calc(100% + 12px) !important;
    width: 320px !important;
    /* height: fit-content; */
    height: auto !important;
    background: white !important;
    box-sizing: border-box !important;
    border-radius: 1mm !important;
    /* padding: 5px 0; */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) !important;
}

body > header .submenu .title {
    color: black !important;
    padding-bottom: 6px !important;
}

body > header nav > ol > li .sub-item {
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 5px 20px !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: left !important;
    margin: 10px 0 !important;
    cursor: pointer !important;
}

body > header .sub-item:hover {
    background: rgba(0, 0, 0, 0.08) !important;
}

body > header .sub-item span,
body > header .sub-item img {
    display: block !important;
    width: 40px !important;
    height: 40px !important;
    /* border-radius: 50%; */
    border-radius: 4px !important;
    background: rgba(0, 0, 0, 0.03) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-right: 15px !important;
    color: rgb(120, 54, 227) !important;
}

body > header .submenu .desc {
    font-size: 12px !important;
    color: rgb(160, 160, 160) !important;
}

body > header nav > ol > li:hover > .submenu {
    display: block !important;
}

body > header nav > ol > li:hover > .submenu a::after {
    display: none !important;
}

body > header nav > ol > li:nth-child(3) > .submenu {
    left: -160px !important;
}

body > header nav > ol > li:nth-child(5) > .submenu {
    right: -75px !important;
}



header > iframe, footer > iframe {
    display: none !important;
}

body > header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    padding: 0 !important;
}

body > header > span {
    background-color: #ffffff !important; /* !important */
    height: 64px;
}

body > header li label::after {
    content: "" !important;
    display: block !important;
    position: absolute !important;
    background-color: transparent !important;
    /* width: 100%; */
    /* height: 25px; */

    width: calc(100% + 15px) !important;
    left: 0 !important;
    height: 300% !important;
}

header > span {
    display: flex !important;
    margin: auto !important;
    justify-content: space-between !important;
    align-items: center !important;
}

header > span, main {
    width: 100% !important;
    max-width: 1200px !important;
    margin: auto !important;
}



/* mobile naigation mods */

@media screen and (max-width: 650px) {
    body > header nav {
        background-color: white !important;
        position: relative !important;
    }
    
    body > header input:first-child ~ nav ol {
        position: absolute !important;
        display: flex !important;
        justify-content: flex-start !important;
        flex-direction: column !important;
        padding-top: 64px !important;
        padding-left: 0 !important;
        margin-bottom: 0 !important;
    }

    body > header nav > ol > li {
        flex: none !important;
        position: relative !important;
        width: 100% !important;
        height: 44px !important;
        /* border-top: 1px solid #fff; */
        border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
        /* box-shadow: inset 0 2px 0 #fff; */
        overflow: hidden !important;
        transition: flex 0.25s ease-in !important;
        margin: 0 !important;
    }

    body > header nav > ol > li:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
    }

    body > header nav ol > li > a,
    body > header nav ol > li > label {
        display: flex !important;
        height: 44px !important;
        align-content: center !important;
        flex-wrap: wrap !important;
    }

    body > header nav ol > li:hover > a,
    body > header nav ol > li:hover > label {
        background-color: transparent !important;
    }

    body > header nav > ol input:checked + li {
        display: block !important;
        flex: auto !important;
        transition: flex 0.25s ease-out !important;
    }

    body > header nav > ol > li > .submenu {
        /* background-color: gray; */
        top: 0 !important;
        width: 100% !important;
        left: 0 !important; /* !important */
        /* height: 100%; */
        position: relative !important;

        overflow-x: hidden !important;
        overflow-y: scroll !important;
        height: calc(100% - 44px) !important;
        position: relative !important;
        /* padding: 15px 1.5em; */
        box-shadow: inset 10px 0 0 0 navy, inset 0 3px 6px rgba(0, 0, 0, 0.75) !important;
        background: #efefef !important;
        display: block !important;
        border-radius: 0 !important;
    }

    body > header input + li > label:after {
        content: "╋" !important;
        position: absolute !important;
        top: 0 !important;
        right: 1em !important;
        width: 1em !important;
        /* height: 1em; */
        /* text-align: center; */
        border-radius: 50% !important;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75) !important;
        font-size: 10px !important;

        height: 44px !important;
        align-content: center !important;
        flex-wrap: wrap !important;

        left: calc(100% - 3em) !important;
    }

    body > header input:checked + li > label:after {
        content: "━" !important;
    }

    body > header nav > ol > li:nth-child(3) > .submenu {
        left: 0px !important;
    }
}